//----------------------------------------
// Variables
//----------------------------------------

// 1 - Color
// 2 - Font
// 3 - Grid and wrapper
// 4 - Radius
// 5 - Transitions
// 6 - Forms
// 7 - Spacing
// 8 - Breakpoints
// 9 - Shadow
// 10 - height

//
// 1 - Color
// ---------------------------------------

$clr-light: #fff;
$clr-success: #31cf65;
$clr-warning: #fedc62;
$clr-notice: #2b9eeb;
$clr-danger: #fc3c63;
$clr-divider: #ededed;

$clr-0-darker: #000;
$clr-0-dark: #04222d;
$clr-0: #6b7c93;
$clr-0-light: #cfd4df;
$clr-0-lighter: #f5f7f9;

$clr-1: #7179bd;
$clr-1-light: tint($clr-1, 25%);
$clr-1-lighter: tint($clr-1, 90%);
$clr-1-dark: shade($clr-1, 15%);
$clr-1-darker: shade($clr-1, 30%);

$clr-2: #3fcadc;
$clr-2-light: tint($clr-2, 25%);
$clr-2-lighter: tint($clr-2, 50%);
$clr-2-dark: shade($clr-2, 15%);
$clr-2-darker: shade($clr-2, 30%);

//
// 2 - Font
// ---------------------------------------

$font-base: "Open Sans", sans-serif;
$font-alternate: $font-base;
$font-size-base: 1.4rem;
// Don't touch this, it's for em convertion
$em-base: 16;
$font-weight-bold: 700;
$font-weight-base: 400;

$font-size-XXL: 2.8rem;
$font-size-XL: 2.4rem;
$font-size-L: 1.8rem;
$font-size-M: 1.6rem;
$font-size-S: 1.4rem;
$font-size-XS: 1.2rem;
$font-size-XXS: 1rem;

//
// 3 - Grid and wrapper
// ---------------------------------------

$wrap-L-max-width: 250rem;
$wrap-M-max-width: 64rem;
$wrap-S-max-width: 40rem;
$modal-max-width: 45rem;
$gutter-width: 2rem;
$app-min-width: 30rem;

//
// 4 - Radius
// ---------------------------------------

$rad-S: 0.4rem;
$rad-M: 1rem;

//
// 5 - Transitions
// ---------------------------------------

$trans: all 0.3s ease-in-out;

//
// 6 - Forms
// ---------------------------------------

$form-group-input-height: 4rem;

$form-list-input: _assign(

  (
    '[type="text"]',
    '[type="password"]',
    '[type="tel"]',
    '[type="url"]',
    '[type="email"]',
    '[type="search"]',
    '[type="date"]',
    '[type="month"]',
    '[type="number"]'
  )
);

//
// 7 - Spacing
// ---------------------------------------

$spacer-N: 0;
$spacer-S: 1rem;
$spacer-M: 2rem;
$spacer-L: 4rem;
$spacer-XL: 12rem;

//
// 8 - Breakpoints
// ---------------------------------------

$mq-S: em(480, $em-base);
$mq-S-up: em(481, $em-base);
$mq-M: em(768, $em-base);
$mq-M-up: em(769, $em-base);
$mq-L: em(1024, $em-base);
$mq-L-up: em(1025, $em-base);
$mq-XL: em(1500, $em-base);
$mq-XL-up: em(1501, $em-base);
$mq-XXL: em(2000, $em-base);
$mq-XXL-up: em(2001, $em-base);

$mq-nav: em(800, $em-base);
$mq-nav-up: em(801, $em-base);

//
// 9 - Shadow
// ---------------------------------------

$shadow-L: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
$shadow-M: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

//
// 10 - height
// ---------------------------------------

$height-header: 7rem;
