//----------------------------------------
//   Variables
//----------------------------------------

// 1 - Color
// 2 - Font
// 3 - Grid
// 4 - Radius
// 5 - Forms
// 6 - Spacing
// 7 - Breakpoints
// 8 - Transitions

//
// 1 - Color
// ---------------------------------------

$clr-light     : #fff;
$clr-error     : #D24A53;
$clr-success   : #61bcbd;
$clr-warning   : #f9b134;
$clr-notice    : #D9EDF7;
$clr-danger    : #D24A53;
$clr-divider   : #ededed;

$clr-0-darken  : #23292e;
$clr-0-dark    : #212121;
$clr-0         : #333;
$clr-0-light   : #ddd;
$clr-0-lighten : #fafafa;

$clr-1         : #2fb2de;
$clr-1-light   : tint($clr-1, 50%);
$clr-1-lighten : tint($clr-1, 85%);
$clr-1-dark    : shade($clr-1, 15%);
$clr-1-darken  : shade($clr-1, 30%);

$clr-2         : #605ce8;
$clr-2-light   : tint($clr-2, 50%);
$clr-2-lighten : tint($clr-2, 85%);
$clr-2-dark    : shade($clr-2, 15%);
$clr-2-darken  : shade($clr-2, 30%);

$clr-border : $clr-0-light;

// Link
$base-link-color  : $clr-1;
$base-link-color-hover : $clr-1-darken;

// Social color
$clr-facebook    : #3b5998;
$clr-twitter     : #55acee;
$clr-linkedin    : #0077b5;
$clr-instagram   : #3f729b;
$clr-youtube     : #cd201f;
$clr-google-plus : #dd4b39;
$clr-pinterest   : #bd081c;

//
// 2 - Font
// ---------------------------------------

$font-base          : Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-code          : 'Source Code Pro', Consolas, monospace;
$font-title         : $font-base;

$font-size-base     : 1em;
$font-color-base    : $clr-0;

$font-weight-bold : bold;
$font-weight-base : 400;
$font-weight-thin : 100;

$font-size-XXL : em(40, $em-base);
$font-size-XL  : em(28, $em-base);
$font-size-L   : em(20, $em-base);
$font-size-M   : em(18, $em-base);
$font-size-S   : em(16, $em-base);
$font-size-XS  : em(14, $em-base);
$font-size-XXS  : em(12, $em-base);

$line-height-base  : 1.625em;
$line-height-small : 1.25em;

//
// 3 - Grid
// ---------------------------------------

$wrap-max-width : em(1000, $em-base);
$wrap-min-width : em(320, $em-base);
$gutter-width   : rem(20);

//
// 4 - Radius
// ---------------------------------------

$radS : rem(3);
$radL : rem(10);

//
// 5 - Forms
// ---------------------------------------

$form-border-color       : $clr-0-light;
$form-border-color-hover : shade($clr-0-light, 10%) ;
$form-border-color-focus : shade($clr-0-light, 20%);
$form-border-radius      : $radS;
$form-box-shadow-focus   : none, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$color-mixin-placeholder : tint($clr-0, 60%);
$form-font-size          : $font-size-base;

//
// 6 - Spacing
// ---------------------------------------

$spacer   : rem(26);
$spacer-n : 0;
$spacer-s : $spacer/2;
$spacer-m : $spacer * 2;
$spacer-l : $spacer * 3;

//
// 7 - Breakpoints
// ---------------------------------------

$mq-s      : em(480, $em-base);
$mq-s-up   : em(481, $em-base);
$mq-m      : em(768, $em-base);
$mq-m-up   : em(769, $em-base);
$mq-l      : em(1024, $em-base);
$mq-l-up   : em(1025, $em-base);

//
// 8 - Transitions
// ---------------------------------------

$trans : all .3s ease-in-out;
