/*
---
name: Avatar
tag:
  - latest
  - base
category:
  - component
  - component/avatar
---

## Avatar

```html
<div class="avatar">
  <div class="avatar-thumb">
    <img src="https://avatars0.githubusercontent.com/u/709456?v=3&amp;s=460" width="50" height="50" alt="Laurent sutterlity" />
  </div>
  <div class="avatar-name">Laurent Sutterlity</div>
</div>
```

*/
