/*
---
name: Button Groupped
tag:
  - latest
  - base
category:
  - Component
  - Component/Button
---

```html
<div class="buttonGrouped">
  <a class="button" href="#" role="button">Share</a>
  <a class="button icon-close" href="#" role="button">
    <span>Close</span>
  </a>
  <a class="button icon-trash" href="#" role="button">
    <span>Trash</span>
  </a>
</div>
```

*/
