/*
---
name: Button Circular
tag:
  - base
category:
  - component
  - component/button
---

## Button circular



```html
<a class="button button--circular" href="#" role="button">
  <span class="icon-check"></span> Ajouter un element
</a>

<a class="button button--circular icon-check" href="#" role="button">
  <span>Check</span>
</a>

<a class="button button--secondary button--circular icon-close" href="#" role="button">
  <span>Close</span>
</a>

<a class="button button--danger button--circular icon-trash" href="#" role="button">
  <span>Trash</span>
</a>
```
*/
