/*
---
name: Footer
tag:
  - latest
  - base
category:
  - Component
  - Component/Footer
---

```html
<footer class="footer">
  <div class="wrapper">
    <div class="footer-inner">
      <small>©&nbsp;2016&nbsp;-&nbsp;Hello Front Framework</small>
    </div>
    <div class="footer-innerPush">
      By <a href="http://sutterlity.fr/" target="_blank">Laurent Sutterlity</a>
    </div>
  </div>
</footer>
```

*/
