/*
---
name: Grid responsive
tag:
  - latest
  - base
category:
  - component
  - component/grid
---

## Redefine column number for medium screen

### 4 columns becomes 3 columns

```html
<div class="grid grid--4 grid--m3">
  <div>Element 1</div>
  <div>Element 2</div>
  <div>Element 3</div>
  <div>Element 4</div>
</div>
```

### 3 columns becomes 2 columns

```html
<div class="grid grid--3 grid--m2">
  <div>Element 1</div>
  <div>Element 2</div>
  <div>Element 3</div>
</div>
```

### 2 columns becomes 1 column

```html
<div class="grid grid--2 grid--m1">
  <div>Element 1</div>
  <div>Element 2</div>
</div>
```

### 3/4 column + 1/4 column becomes 2 columns

```html
<div class="grid grid--3-1 grid--m2">
  <div>Element 1</div>
  <div>Element 2</div>
</div>
```

*/
