/*
---
name: Header
tag:
  - latest
  - base
category:
  - Component
  - Component/Header
---

Refer to the component of menu for various style of menu.

```html
<header id="header" role="banner">
  <div class="wrapper">
    <h1 class="header-logo"><a class="header-logo-link" href="./">Hello Front</a></h1>
    <nav class="menu" id="header-nav">
      <ul class="menu-inner">
        <li class="menu-inner-item"><a class="menu-inner-item-link is-active" href="#">Item 1</a></li>
        <li class="menu-inner-item"><a class="menu-inner-item-link" href="#">Item 2</a></li>
        <li class="menu-inner-item"><a class="menu-inner-item-link" href="#">Item 3</a></li>
        <li class="menu-inner-item"><a class="menu-inner-item-link" href="#">Item 4</a></li>
      </ul>
    </nav>
  </div>
</header>
```

*/
