// Base font Size
$em-base: 16px !default;

// PX to EM
@function em($pxval, $base: $em-base) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}

// PX to REM
@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  $base: $em-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

// Strip units
@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}

// Mixes a color with black
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

// Mixes a color with white.
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}
