@mixin title {
  margin: 0 0 $spacer-s 0;
  font-family: $header-font-family;
  line-height: $header-line-height;
  font-weight: bold;
  color: $header-font-color;
  text-rendering: optimizeLegibility;
  &:first-child {
    margin-top: 0
  }
}

@mixin truncate {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

@mixin visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}


@mixin listReset {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
