// scss-lint:disable ImportantRule

@mixin title {
  font-family: $font-alternate;
  font-weight: bold;
  line-height: $line-height-S;
  text-rendering: optimizeLegibility;
  color: $clr-0-darken;

  &:first-child {
    margin-top: 0;
  }
}

@mixin truncate {
  overflow: hidden !important;
  max-width: 100%;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  word-wrap: normal !important;
}

@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0 !important;
  border: 0 !important;
}

@mixin listReset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
