/** ======================================
 * Component : Icon
 * ======================================= */

// scss-lint:disable FinalNewline

/*
---
name: Icon
category:
  - Component
  - Component/Icon
---

```html
<% _.each(glyphs, function(glyph) { %><span class="icon icon--<%= glyph.fileName %>"></span>
<% }); %>
```

To add a space has left of the icon it is necessary to add to him the modify <code>.icon--mLeft</code>

```html
<span class="icon icon--add icon--mLeft"></span>
<span class="icon icon--check icon--mLeft"></span>
```

To add a space has right of the icon it is necessary to add to him the modify <code>.icon--mRight</code>

```html
<span class="icon icon--add icon--mRight"></span>
<span class="icon icon--check icon--mRight"></span>
```

*/

@font-face {
  font-family: '<%= fontName %>';
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
       url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
       url('<%= fontPath %><%= fontName %>.woff') format('woff'),
       url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
       url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

%icon {
  position: relative;
  display: inline-block;
  font-family: 'app-font';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  vertical-align: text-bottom;
  text-decoration: inherit;
  text-transform: none;
  speak: none;
}

@function icon-char($filename) {
  $char: '';
  <% _.each(glyphs, function(glyph) { %>
  @if $filename == <%= glyph.fileName %> {
    $char: '\<%= glyph.codePoint %>';
  }<% });
  %>
  @return $char;
}

@mixin icon($filename) {
  content: icon-char($filename);
}

.icon {
  @extend %icon;
}

/**
 * Modifier : Picture
 * --------------------------------------- */

<% _.each(glyphs, function(glyph) { %>
.icon--<%= glyph.fileName %> {
  &::before {
    @include icon(<%= glyph.fileName %>);
  }
}

%icon--<%= glyph.fileName %> {
  @include icon(<%= glyph.fileName %>);
}
<% }); %>

/**
 * Modifier : push
 * --------------------------------------- */

.icon--mLeft {
  margin-left: 10px;
}

.icon--mRight {
  margin-right: 10px;
}
