doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(href='http://localhost:3000/styleguide/aigis_assets/css/highlight/okadia.css', rel='stylesheet')
    link(href='http://localhost:3000/styleguide/aigis_assets/css/theme.css', rel='stylesheet')
    link(href='http://localhost:3000/assets/css/main.css', rel='stylesheet')
    style.
      .aigis-preview > [class*=grid] {
        margin-bottom: -2rem;
      }
      .aigis-preview > [class*=grid] > * {
        font-size: 1.2rem;
        background: #ededed;
        padding: 1rem;
        line-height: 1;
        margin-bottom: 2rem;
        text-align: center;
        color: rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
      }
      .grid-push, .grid-itemDouble, .grid-itemBig {
        background: #e7e7fc;
      }
      .aigis-categoryList ul ul {
        margin-top: 0;
      }
  body
    .aigis-container
      include ./sidemenu
      .aigis-contents
        .aigis-contents__body
          include ./components
          footer.aigis-footer Last update at #{timestamp}
