/** ======================================
 * Atom : Button
 * ======================================= */

.a-button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 1.15rem 1.8rem;
  font-size: $font-size-S;
  font-weight: $font-weight-bold;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: $clr-light;
  border: 0;
  border-radius: $rad-S;
  background: $clr-1;
  cursor: pointer;
  user-select: none;
  transition: $trans-all;
  -webkit-user-drag: none;
  -webkit-appearance: none;

  &:hover {
    color: $clr-light;
    background: $clr-1-darker;
  }

  &.is-active {
    background: shade($clr-1, 40%);
  }

  &.is-disabled,
  &:disabled {
    opacity: 0.5;
    background-image: none !important;
    box-shadow: none !important;
    cursor: not-allowed;

    &:hover {
      background: $clr-1;
    }
  }
}

/**
* Modifier : Size
* --------------------------------------- */

.a-button--S {
  padding: 0.5rem 1.5rem;
  font-size: $font-size-XS;
}

.a-button--fullWidth {
  justify-content: center;
  width: 100%;
}

.a-button--fullWidthMobile {
  @media #{$mobile} {
    justify-content: center;
    width: 100%;
  }
}
