/** ======================================
* Atom : inputCheckbox
* ======================================= */

.a-inputCheckbox {
  @include inputRadioCheckboxBase;

  [type="checkbox"] + label {
    &::before {
      border-radius: $rad-S;
    }
    &::after {
      z-index: 2;
      display: block;
      content: "";
      width: $radioCheckboxSize;
      height: $radioCheckboxSize;
      position: absolute;
      top: $radioCheckboxTop;
      left: 0;
    }
  }

  [type="checkbox"]:checked + label {
    &::before {
      box-shadow: inset 0 0 0 $radioCheckboxSize/2 $clr-1;
    }
    &::after {
      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%228%22%20height%3D%226%22%20viewBox%3D%220%200%208%206%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EShape%20Copy%3C/title%3E%3Cpath%20d%3D%22M.185%203.245L2.47%205.53c.246.246.645.246.89%200l4.455-4.454c.247-.246.247-.645%200-.89-.246-.248-.645-.248-.89%200L2.47%204.638h.89L1.077%202.353c-.246-.247-.645-.247-.89%200-.248.246-.248.645%200%20.89z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E")
        center no-repeat;
    }
  }

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
