/** ======================================
* Atom : Input Textarea
* ======================================= */

.a-inputTextarea {
  @include inputBase;
  min-height: $form-group-input-height * 2;
  padding: 0.9rem 2rem;
  line-height: 1.25;
  @include inputBaseState;
}
