/** ======================================
* Atom : Input Text
* ======================================= */

.a-inputText {
  @include inputBase;
  height: $form-group-input-height;
  line-height: 1;
  padding: 0 2rem;
  border: 1px solid $clr-divider;
  @include inputBaseState;
}
