include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head

  body(role='document', class= template)

    //-
    //- Uncomment lines 17-18 only if you use sprite SVG
    //-

    //- div(style='height: 0; width: 0; position: absolute; visibility: hidden')
    //-   include ../../assets/img/sprite.svg

    #app
      include ../partials/header
      main#app-main(role='main')
        section
          block content
      include ../partials/footer

    script(src="assets/js/main.js", async)
