include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head

  body(class= template)

    //- div(style='height: 0; width: 0; position: absolute; visibility: hidden')
    //-  include ../../assets/img/sprite.svg

    include ../partials/header
    main(role="main")
      section
        block content
    include ../partials/footer

    script(src="assets/js/app.js", async)
