include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head
    link(rel='stylesheet', href= path + 'assets/css/styleguide.css')

  body
    .hf-styleguide
      header
          .hf-styleguide-title Styleguide
          a.hf-styleguide-linkBack(href="../") Retour sommaire
          nav
            p Composants
            a(href="./button.html") Button
            a(href="./form.html") Form
            a(href="./input.html") Input
            p Utils
            a(href="./u-spacing.html") Espacement
            a(href="./u-layout.html") Layout
            a(href="./u-show-hide.html") Show - hide
            a(href="./u-text.html") Text
            a(href="./u-text-color.html") Couleur de texte
      main
        section
          block content

      script(src= path + "assets/js/app.js", async)
