header.header

  .l-wrapper

    h1.header-logo
      a.header-logo-link(href="./") App name

    nav.menu
      +menu([
        { 'title':'Author', 'link': 'https://sutterlity.fr/' },
        { 'title':'Repo Github', 'link': 'https://github.com/sutter/helloFront' }
      ])
