/** ======================================
 * Utils : Layout
 * ======================================= */

// scss-lint:disable ImportantRule

.u-cf {
  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

.u-noBfc {
  overflow: hidden !important; // No lint reported
}

.u-floatLeft {
  float: left !important; // No lint reported
}

.u-floatRight {
  float: right !important; // No lint reported
}

.u-flexPushleft {
  margin-left: auto;
}

// hidden but not for assistance tools
.u-visually-hidden {
  @include visually-hidden;
}
