/** ======================================
 * Utils : Layout
 * ======================================= */

.u-cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.u-noBfc {
  overflow: hidden !important;
}

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-flexPushleft {
  margin-left: auto;
}

// hidden but not for assistance tools
.u-visually-hidden {
  @include visually-hidden;
}
