/** ======================================
 * Utils : Show / Hide
 * ======================================= */

@import '../documentation/u-show-hide';

// scss-lint:disable ImportantRule

.u-hideMobile {
  display: none !important; // No lint reported

  @media (min-width: $mq-s-up) {
    display: block !important; // No lint reported
  }
}

.u-showMobile {
  @media (min-width: $mq-s-up) {
    display: none !important; // No lint reported
  }
}

.u-visuallyHidden {
  @include visually-hidden;
}
