/** ======================================
 * Utils : Show / Hide
 * ======================================= */

.u-hideMobile {
  display: none !important;
  @media (min-width: $mq-s-up ) {
    display: block !important;
  }
}

.u-showMobile {
  @media (min-width: $mq-s-up ) {
    display: none !important;
  }
}

.u-visuallyHidden {
  @include visually-hidden;
}
