/** ======================================
 * Utils : Text
 * ======================================= */

// scss-lint:disable ImportantRule

.u-txtUpper {
  text-transform: uppercase !important; // No lint reported
}

.u-txtLower {
  text-transform: lowercase !important; // No lint reported
}

.u-txtCenter {
  text-align: center !important; // No lint reported
}

.u-txtLeft {
  text-align: left !important; // No lint reported
}

.u-txtRight {
  text-align: right !important; // No lint reported
}

.u-txtBreak {
  word-wrap: break-word !important; // No lint reported
}

.u-txtNoWrap {
  white-space: nowrap !important; // No lint reported
}

.u-txtTruncate {
  @include truncate;
}

.u-txtLead {
  font-size: $font-size-M;
  font-weight: $font-weight-bold;
  color: $clr-0-dark;
}

.u-txtSmall {
  font-size: $font-size-XXS;
  line-height: 1.25em;
}

/* Size */

.u-txtXXL {
  font-size: $font-size-XXL !important; // No lint reported
}

.u-txtXL {
  font-size: $font-size-XL !important; // No lint reported
}

.u-txtL {
  font-size: $font-size-L !important; // No lint reported
}

.u-txtM {
  font-size: $font-size-M !important; // No lint reported
}

.u-txtS {
  font-size: $font-size-XS !important; // No lint reported
}

.u-txtXS {
  font-size: $font-size-XS !important; // No lint reported
}

.u-txtXXS {
  font-size: $font-size-XXS !important; // No lint reported
}
