/** ======================================
 * Utils : Text color
 * ======================================= */

@import '../documentation/u-txtColor';

// scss-lint:disable ImportantRule

.u-txtClrLight {
  color: $clr-light !important; // No lint reported
}

.u-txtClrError {
  color: $clr-error !important; // No lint reported
}

.u-txtClrSuccess {
  color: $clr-success !important; // No lint reported
}

.u-txtClrWarning {
  color: $clr-warning !important; // No lint reported
}

.u-txtClrNotice {
  color: $clr-notice !important; // No lint reported
}

.u-txtClrDanger {
  color: $clr-danger !important; // No lint reported
}

.u-txtClr0 {
  color: $clr-0 !important; // No lint reported
}

.u-txtClr0Light {
  color: $clr-0-light !important; // No lint reported
}

.u-txtClr0Lighten {
  color: $clr-0-lighten !important; // No lint reported
}

.u-txtClr0Dark {
  color: $clr-0-dark !important; // No lint reported
}

.u-txtClr0Darken {
  color: $clr-0-darken !important; // No lint reported
}

.u-txtClr1 {
  color: $clr-1 !important; // No lint reported
}

.u-txtClr1Light {
  color: $clr-1-light !important; // No lint reported
}

.u-txtClr1Lighten {
  color: $clr-1-lighten !important; // No lint reported
}

.u-txtClr1Dark {
  color: $clr-1-dark !important; // No lint reported
}

.u-txtClr1Darken {
  color: $clr-1-darken !important; // No lint reported
}

.u-txtClr2 {
  color: $clr-2 !important; // No lint reported
}

.u-txtClr2Light {
  color: $clr-2-light !important; // No lint reported
}

.u-txtClr2Lighten {
  color: $clr-2-lighten !important; // No lint reported
}

.u-txtClr2Dark {
  color: $clr-2-dark !important; // No lint reported
}

.u-txtClr2Darken {
  color: $clr-2-darken !important; // No lint reported
}
