/* ================================
/* Utils : Text
================================ */

.u-txt {
  &Upper  { text-transform: uppercase !important }
  &Lower  { text-transform: lowercase !important }
  &Center { text-align: center !important }
  &Left   { text-align: left !important }
  &Right  { text-align: right !important }
  &Break  { word-wrap: break-word !important }
  &NoWrap { white-space: nowrap !important }
  &Truncate { @extend %truncate }
  &Kern { // http://blog.typekit.com/2014/02/05/kerning-on-the-web/
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
  }
}
