/** ======================================
 * Utils : Txt
 * ======================================= */

@import '../documentation/u-txt';

// scss-lint:disable ImportantRule

.u-txtUpper {
  text-transform: uppercase !important;
}

.u-txtLower {
  text-transform: lowercase !important;
}

.u-txtCenter {
  text-align: center !important;
}

.u-txtLeft {
  text-align: left !important;
}

.u-txtRight {
  text-align: right !important;
}

.u-txtBreak {
  word-wrap: break-word !important;
}

.u-txtNoWrap {
  white-space: nowrap !important;
}

.u-txtTruncate {
  @include truncate;
}

.u-txtLead {
  font-size: $font-size-M;
  font-weight: $font-weight-bold;
  color: $clr-0-dark;
}

.u-txtSmall {
  font-size: $font-size-XXS;
  line-height: 1.25em;
}

/* Size */

.u-txtXXL {
  font-size: $font-size-XXL !important;
}

.u-txtXL {
  font-size: $font-size-XL !important;
}

.u-txtL {
  font-size: $font-size-L !important;
}

.u-txtM {
  font-size: $font-size-M !important;
}

.u-txtS {
  font-size: $font-size-XS !important;
}

.u-txtXS {
  font-size: $font-size-XS !important;
}

.u-txtXXS {
  font-size: $font-size-XXS !important;
}
