/** ======================================
 * Utils / Width
 * ======================================= */

@import '../documentation/u-width';

// scss-lint:disable ImportantRule

.u-w20 {
  width: 20% !important; // No lint reported
}

.u-w25 {
  width: 25% !important; // No lint reported
}

.u-w33 {
  width: 33.333% !important; // No lint reported
}

.u-w40 {
  width: 40% !important; // No lint reported
}

.u-w50 {
  width: 50% !important; // No lint reported
}

.u-w60 {
  width: 60% !important; // No lint reported
}

.u-w66 {
  width: 66.666% !important; // No lint reported
}

.u-w75 {
  width: 75% !important; // No lint reported
}

.u-w80 {
  width: 80% !important; // No lint reported
}

.u-w100 {
  width: 100% !important; // No lint reported
}
