/** ======================================
 * Utils : Layout
 * ======================================= */

// scss-lint:disable ImportantRule

.u-cf {
  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

.u-noBfc {
  overflow: hidden !important;
}

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-flexPushleft {
  margin-left: auto;
}
