// ======================================
// Utils : layout
// =======================================

.u-cf {
  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }
}

.u-noBfc {
  overflow: hidden !important;
}

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-flexPushleft {
  margin-left: auto;
}

// Need's Flex parent
.u-flexCenter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
