/** ======================================
 * Custom theme
 * ======================================= */

.aigis-container {
  background: #fff;
}

.aigis-sidemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: scroll;
  width: 260px;
  background: #f7f7f9;
}

.aigis-contents {
  margin: 0 auto;
  padding: 20px 20px 20px 280px;
}

.aigis-contents__body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-height: calc(100vh - 40px);
  margin: 0 auto;
}

/**
 * aigis-header
 * --------------------------------------- */

.aigis-header h1 {
  margin: 0;
  font-weight: 400;
}

.aigis-header a {
  display: block;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/**
 * aigis-categoryList
 * --------------------------------------- */

.aigis-categoryList {
  color: #99979c;
}

.aigis-categoryList ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  line-height: 1.5;
}

.aigis-categoryList ul a {
  display: block;
  padding: 3px 20px;
}

.aigis-categoryList [data-path-depth="0"] {
  margin: 0;
  padding: 0;
}

.aigis-categoryList [data-path-depth="0"]:not(:first-child) {
  margin-top: 30px;
}

.aigis-categoryList [data-path-depth="0"] > a {
  font-size: 18px;
  color: #111;
}

.aigis-categoryList [data-path-depth="1"] > a {
  font-size: 14px;
  color: #99979c;
}

.aigis-categoryList [data-path-depth="1"] > a:hover {
  color: #111;
  background: rgba(0, 0, 0, .02);
}

.aigis-categoryList [data-path-depth="1"] > a[data-tree-current] {
  color: #111;
}

.aigis-categoryList [data-path-depth="0"] {
  margin: 0;
  padding: 0;
}

.aigis-categoryList [data-path-depth="0"]:not(:first-child) {
  margin-top: 30px;
}

.aigis-categoryList [data-path-depth="0"] > a {
  font-size: 18px;
  color: #111;
}

.aigis-categoryList [data-path-depth="1"] > a {
  font-size: 14px;
  color: #99979c;
}

.aigis-categoryList [data-path-depth="1"] > a:hover {
  color: #111;
  background: rgba(0, 0, 0, .02);
}

.aigis-categoryList [data-path-depth="1"] > a[data-tree-current] {
  color: #111;
}

/**
 * aigis-module
 * --------------------------------------- */

.aigis-module {
  flex-grow: 1;
  margin-top: 60px;
}

.aigis-module__bigHeading {
  font-size: 20px;
  font-weight: bold;
}

.aigis-module__heading {
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 30px;
  border-bottom: 2px solid #f7f7f9;
}

.aigis-module > h3 {
  font-size: 22px;
}

.aigis-module > h4 {
  font-size: 16px;
}

.aigis-module > pre {
  position: relative;
  overflow: scroll;
  margin: 0 auto 3em;
  padding: 20px;
  font-size: 14px;
  color: #f8f8f2;
  border-radius: 3px;
  background-color: #272822;
}

.aigis-module > h3 + pre {
  margin-top: 20px;
}

.aigis-module > hr {
  margin: 5.2rem 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #f7f7f9;
  border-left: 0;
}

.aigis-module > table {
  width: 100%;
  margin: 1.3rem 0;
  border: 1px solid #f7f7f9;
  background: #fff;
}
.aigis-module > table th {
  padding: 1.3rem;
  border-bottom: 2px solid #f7f7f9;
}
.aigis-module > table th:not(:first-child) {
  border-left: 1px solid #f7f7f9;
}
.aigis-module > table tbody tr:nth-child(even) {
  background: #f7f7f9;
}
.aigis-module > table tbody td {
  padding: 0.65rem 1.3rem;
  border-bottom: 1px solid #f7f7f9;
}

.aigis-module > table tbody td:first-child code {
  white-space: nowrap;
}

.aigis-module > table tbody td:not(:first-child) {
  border-left: 1px solid #f7f7f9;
}

/**
 * aigis-moduleList
 * --------------------------------------- */

.aigis-moduleList {
  padding: 0;
  list-style: none;
}

@media (min-width: 700px) {
  .aigis-moduleList {
    columns: 2 20px;
  }
}

@media (min-width: 900px) {
  .aigis-moduleList {
    columns: 3 20px;
  }
}

/**
 * aigis-preview
 * --------------------------------------- */

.aigis-preview {
  padding: 20px;
  border-style: solid;
  border-color: #f7f7f9;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom: 0;
  border-left-width: 2px;
  border-radius: 3px 3px 0 0;
}

.aigis-preview + pre {
  border-radius: 0 0 3px 3px;
}

.aigis-preview > [class*=grid] {
  margin-bottom: -2rem;
}

.aigis-preview > [class*=grid] > * {
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  color: rgba(0, 0, 0, .5);
  background: #ededed;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
}

.aigis-preview .grid-push,
.aigis-preview .grid-itemDouble,
.aigis-preview .grid-itemBig {
  background: #e7e7fc;
}

/**
 * aigis-footer
 * --------------------------------------- */

.aigis-footer {
  padding-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #99979c;
}
