if components.length
  nav
    .aigis-module__bigHeading Summary
    ul.aigis-moduleList
      each component in components
        li.aigis-moduleList__item
          a(href='#' + component.config.name) #{component.config.name}
  each component in components
    .aigis-module
      h2.aigis-module__heading(id=component.config.name) #{component.config.name}
      ul.aigis-tags
        each tag in component.config.tag
          li.aigis-tags__item(class='aigis-tags__item--' + tag) #{tag}
      != component.html
else
  .aigis-module
    != html
