extends ../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Utils de couleur de texte"
  - var metaDesc = "UUtils de couleur de texte - CSS"
  - var path = './../'

block content
  .hf-head
    .hf-wrapper
      h1 Utils de couleur de texte
  .hf-content.hf-wrapper
    h2 Documentation
    p Les utilitaires de couleurs permettent de modifier les couleurs des éléments.
  .hf-content.hf-wrapper
    h3 Couleur : Light (blanc)
    table
      thead
        tr
          th Class
          th Rendu
      tbody
        tr
          td
            code .u-txtClrLight
          td.u-txtClrLight lorem ipsum dolor
  .hf-content.hf-wrapper
    h3 Couleur : Clr0 (noir)
    table
      thead
        tr
          th Class
          th Rendu
      tbody
        tr
          td
            code .u-txtClr0Darken
          td
            .u-txtClr0Darken lorem ipsum dolor
        tr
          td
            code .u-txtClr0Dark
          td
            .u-txtClr0Dark lorem ipsum dolor
        tr
          td
            code .u-txtClr0
          td
            .u-txtClr0 lorem ipsum dolor
        tr
          td
            code .u-txtClr0Light
          td
            .u-txtClr0Light lorem ipsum dolor
        tr
          td
            code .u-txtClr0Lighten
          td
            .u-txtClr0Lighten lorem ipsum dolor
  .hf-content.hf-wrapper
    h3 Couleur : Clr1 (bleu)
    table
      thead
        tr
          th Class
          th Rendu
      tbody
        tr
          td
            code .u-txtClr1Darken
          td
            .u-txtClr1Darken lorem ipsum dolor
        tr
          td
            code .u-txtClr1Dark
          td
            .u-txtClr1Dark lorem ipsum dolor
        tr
          td
            code .u-txtClr1
          td
            .u-txtClr1 lorem ipsum dolor
        tr
          td
            code .u-txtClr1Light
          td
            .u-txtClr1Light lorem ipsum dolor
        tr
          td
            code .u-txtClr1Lighten
          td
            .u-txtClr1Lighten lorem ipsum dolor
    .hf-content.hf-wrapper
      h3 Couleur : Clr2 (violet)
      table
        thead
          tr
            th Class
            th Rendu
        tbody
          tr
            td
              code .u-txtClr2Darken
            td
              .u-txtClr2Darken lorem ipsum dolor
          tr
            td
              code .u-txtClr2Dark
            td
              .u-txtClr2Dark lorem ipsum dolor
          tr
            td
              code .u-txtClr2
            td
              .u-txtClr2 lorem ipsum dolor
          tr
            td
              code .u-txtClr2Light
            td
              .u-txtClr2Light lorem ipsum dolor
          tr
            td
              code .u-txtClr2Lighten
            td
              .u-txtClr2Lighten lorem ipsum dolor
    .hf-content.hf-wrapper
      h3 Couleur : État
      table
        thead
          tr
            th Class
            th Rendu
        tbody
          tr
            td
              code .u-txtClrNotice
            td
              .u-txtClrNotice lorem ipsum dolor
          tr
            td
              code .u-txtClrDanger
            td
              .u-txtClrDanger lorem ipsum dolor
          tr
            td
              code .u-txtClrWarning
            td
              .u-txtClrWarning lorem ipsum dolor
          tr
            td
              code .u-txtClrSuccess
            td
              .u-txtClrSuccess lorem ipsum dolor