extends ../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Formulaires"
  - var metaDesc = "Formulaires - CSS / HTML"
  - var path = './../'

block content
  .hf-head
    .hf-wrapper
      h1 Formulaires
      nav
        a(href="#forms") Formulaire
  .hf-content.hf-wrapper
    h2#forms Formulaires
    h3 Formulaire type
    ul
     li Les éléments de type <code>&lt;form&gt;</code> prennent la classe <code>.form</code>
     li Chaque ligne d'inputs est contenu dans un composant <code>.form-group</code>, gérant les marges entre chaque lignes
     li Les action de formulaires sont contenue dans un composant <code>.form-footer</code>
     li Les inputs et les labels possèdent également leur propres <a href="./input.html">classes et composants</a>
  .hf-code.hf-wrapper
    form.form(action='')
      .form-group
          label.form-group-label(for='login') Identifiant
          .form-group-input
            input#login(type='text', name='login', placeholder='Identifiant')
      .form-group
        label.form-group-label(for='password') Mot de passe
        .form-group-input
          input#password(type='password', name='password', placeholder='Mot de passe')
      .form-footer
        input.button(type='submit', value='connexion')