extends ../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Inputs"
  - var metaDesc = "Inputs - CSS / HTML"
  - var path = './../'

block content
  .hf-head
    .hf-wrapper
      h1 Inputs
      nav
        a(href="#types") Types
        a(href="#states") États
        a(href="#labels") Labels
  .hf-content.hf-wrapper
    h2#types Types
    h3 Input text
  .hf-code.hf-wrapper
    .form-group
      label.form-group-label(for='input-base') Label
      .form-group-input
        input#input-base(type='text', name='input-base', placeholder='Placeholder')
  .hf-content.hf-wrapper
    h3 Input textarea
  .hf-code.hf-wrapper
    .form-group
      label.form-group-label(for='input-textarea') Label
      .form-group-input
        textarea#input-textarea(name='input-textarea', placeholder='Placeholder')
  .hf-content.hf-wrapper
    h3 Input select
  .hf-code.hf-wrapper
    .form-group
      .form-group-label Fake Label
      .form-group-input
        select.select(name='input-select')
          option 1
          option 2
  .hf-content.hf-wrapper
    h3 Input Radio
  .hf-code.hf-wrapper
    .form-group
      .form-group-label Fake label
      .form-group-input
        .radio
          input#inputRadio-base-1(type='radio', name='inputRadio-base')
          label(for='inputRadio-base-1') Radio A
        .radio
          input#inputRadio-base-2(type='radio', name='inputRadio-base')
          label(for='inputRadio-base-2') Radio B
  .hf-content.hf-wrapper
    h3 Input radio inline
  .hf-code.hf-wrapper
    .form-group
      .form-group-label Fake label
      .form-group-input.form-group-input--inline
        .radio
          input#inputRadio-inline-1(type='radio', name='inputRadio-inline')
          label(for='inputRadio-inline-1') Radio A
        .radio
          input#inputRadio-inline-2(type='radio', name='inputRadio-inline')
          label(for='inputRadio-inline-2') Radio B
  .hf-content.hf-wrapper
    h3 Input checkbox
  .hf-code.hf-wrapper
    .form-group
      .form-group-input
          .checkbox
            input#inputCheckbox(type='checkbox', value='inputCheckbox')
            label(for='inputCheckbox') Checkbox
  .hf-content.hf-wrapper
    h2#states États
    h3 État : disabled
    ol
     li Ajouter la classe <code>.form-group--disabled</code> à l'élément <code>.form-group</code>.
     li Ajouter un attribut <code>disabled</code> sur les éléments <code>&lt;input /&gt;</code>.
  .hf-code.hf-wrapper
    .form-group.form-group--disabled
      label.form-group-label(for='input-base-disabled') Label
      .form-group-input
        input#input-base-disabled(type='text', name='input-base-disabled', placeholder='Placeholder', disabled)
    .form-group.form-group--disabled
      label.form-group-label(for='input-textarea-disabled') Label
      .form-group-input
        textarea#input-textarea-disabled(name='input-textarea-disabled', placeholder='Placeholder', disabled)
    .form-group.form-group--disabled
      .form-group-label Fake Label
      .form-group-input
        select.select(name='input-select-disabled', disabled)
          option 1
          option 2
    .form-group.form-group--disabled
      .form-group-label Fake label
      .form-group-input.form-group-input--inline
        .radio
          input#inputRadio-inline-disabled-1(type='radio', name='inputRadio-inline-disabled', disabled)
          label(for='inputRadio-inline-disabled-1') Radio A
        .radio
          input#inputRadio-inline-disabled-2(type='radio', name='inputRadio-inline-disabled', disabled)
          label(for='inputRadio-inline-disabled-2') Radio B
    .form-group.form-group--disabled
      .form-group-input
        .checkbox
          input#inputCheckbox-disabled(type='checkbox', value='inputCheckbox-disabled', disabled)
          label(for='inputCheckbox-disabled') Checkbox
  .hf-content.hf-wrapper
    h3 État : succés
    p Ajouter la classe <code>.form-group--success</code> à l'élément <code>.form-group</code>.
  .hf-code.hf-wrapper
    .form-group.form-group--success
      label.form-group-label(for='input-base-success') Label
      .form-group-input
        input#input-base-disabled(type='text', name='input-base-disabled', placeholder='Placeholder')
    .form-group.form-group--success
      label.form-group-label(for='input-textarea-success') Label
      .form-group-input
        textarea#input-textarea-success(name='input-textarea-success', placeholder='Placeholder')
    .form-group.form-group--success
      .form-group-label Fake Label
      .form-group-input
        select.select(name='input-select-success')
          option 1
          option 2
    .form-group.form-group--success
      .form-group-label Fake label
      .form-group-input.form-group-input--inline
        .radio
          input#inputRadio-inline-success-1(type='radio', name='inputRadio-inline-success')
          label(for='inputRadio-inline-success-1') Radio A
        .radio
          input#inputRadio-inline-success-2(type='radio', name='inputRadio-inline-success')
          label(for='inputRadio-inline-success-2') Radio B
    .form-group.form-group--success
      .form-group-input
        .checkbox
          input#inputCheckbox-success(type='checkbox', value='inputCheckbox-success')
          label(for='inputCheckbox-success') Checkbox
  .hf-content.hf-wrapper
    h3 État : erreur
    p Ajouter la classe <code>.form-group--error</code> à l'élément <code>.form-group</code>.
  .hf-code.hf-wrapper
    .form-group.form-group--error
      label.form-group-label(for='input-base-error') Label
      .form-group-input
        input#input-base-disabled(type='text', name='input-base-disabled', placeholder='Placeholder')
      .form-group-feedback Oups ceci est un message d'erreur
    .form-group.form-group--error
      label.form-group-label(for='input-textarea-error') Label
      .form-group-input
        textarea#input-textarea-error(name='input-textarea-error', placeholder='Placeholder')
      .form-group-feedback Oups ceci est un message d'erreur
    .form-group.form-group--error
      .form-group-label Fake Label
      .form-group-input
        select.select(name='input-select-error')
          option 1
          option 2
      .form-group-feedback Oups ceci est un message d'erreur
    .form-group.form-group--error
      .form-group-label Fake label
      .form-group-input.form-group-input--inline
        .radio
          input#inputRadio-inline-error-1(type='radio', name='inputRadio-inline-error')
          label(for='inputRadio-inline-error-1') Radio A
        .radio
          input#inputRadio-inline-error-2(type='radio', name='inputRadio-inline-error')
          label(for='inputRadio-inline-error-2') Radio B
    .form-group.form-group--error
      .form-group-input
        .checkbox
          input#inputCheckbox-error(type='checkbox', value='inputCheckbox-error')
          label(for='inputCheckbox-error') Checkbox
  .hf-content.hf-wrapper
    h2#labels Labels
    h3 Élément sans label
    p Ajouter la classe de modification <code>.form-group--noLabel</code> à l'élément ayant la classe <code>.form-group</code> pour cacher les labels sauf aux lecteur d'écrans.
  .hf-code.hf-wrapper
    .form-group.form-group--noLabel
      label.form-group-label(for='input-base') Label
      .form-group-input
        input#input-base(type='text', name='input-base', placeholder='Placeholder')

  .hf-content.hf-wrapper
    h3 Faux label
    p Ajouter la classe de composant<code>.form-group-label</code> à un élément <code>&lt;div&gt;</code> avant l'input.
  .hf-code.hf-wrapper
    .form-group
      .form-group-label Fake Label
      .form-group-input
        select.select(name='input-select-fakeLabel')
          option 1
          option 2