extends ../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Utils de texte"
  - var metaDesc = "Utils de texte - CSS"
  - var path = './../'

block content
  .hf-head
    .hf-wrapper
      h1 Utils de texte
  .hf-content.hf-wrapper
    h2 Documentation
    p Les utilitaires de texte permettent de modifier les styles de texte des éléments.
  .hf-content.hf-wrapper
    h3 Modification de style
    table
      thead
        tr
          th Class
          th Usage
      tbody
        tr
          td
            code .u-txtUpper
          td.u-txtUpper Texte tout en capitales
        tr
          td
            code .u-txtLower
          td.u-txtLower Texte tout en minuscules
        tr
          td
            code .u-txtBold
          td.u-txtBold Texte tout en gras
        tr
          td
            code .u-txtThin
          td.u-txtThin Texte tout en light
        tr
          td
            code .u-txtCenter
          td.u-txtCenter Texte centré
        tr
          td
            code .u-txtLeft
          td.u-txtLeft Texte aligné à droite
        tr
          td
            code .u-txtRight
          td.u-txtRight Texte aligné à gauche
  .hf-content.hf-wrapper
    h3 Modification de taille
    table
      thead
        tr
          th Class
          th Usage
      tbody
        tr
          td
            code .u-txtXXL
          td.u-txtXXL Lorem ipsum
        tr
          td
            code .u-txtXL
          td.u-txtXL Lorem ipsum
        tr
          td
            code .u-txtL
          td.u-txtL Lorem ipsum
        tr
          td
            code .u-txtM
          td.u-txtM Lorem ipsum
        tr
          td
            code .u-txtS
          td.u-txtS Lorem ipsum
        tr
          td
            code .u-txtXS
          td.u-txtXS Lorem ipsum
        tr
          td
            code .u-txtXXS
          td.u-txtXXS Lorem ipsum

