extends ../../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Utils d'espacement"
  - var metaDesc = "Utils d'espacement - CSS"
  - var path = './../../'

block content
  .hf-head
    .hf-wrapper
      h1 Spacing
  .hf-content.hf-wrapper
    h2 Documentation
    p Les utilitaires d'espacement permettent facilement d'appliquer des <code>margin</code> / <code>padding</code> sur un élément. A utiliser pour assembler différents composants sans avoir à définir une nouvelle classe de wrapper.
  .hf-content.hf-wrapper
    h3 Définition
    ul
      li <strong>p</strong>, <strong>m</strong> = padding, margin
      li <strong>a</strong>, <strong>t</strong>, <strong>r</strong>, <strong>b</strong>, <strong>l</strong> = all, top, right, bottom, left
      li <strong>S</strong>, <strong>M</strong>, <strong>L</strong>, <strong>N</strong> = Small (10 px), Medium (20 px), Large (40 px) , None (0)
  .hf-content.hf-wrapper
    h3 Margin
    table
      thead
        tr
          th Class
          th Usage
      tbody
        tr
          td
            code .u-maS
          td margin: 10 px;
        tr
          td
            code .u-maM
          td margin: 20 px;
        tr
          td
            code .u-maL
          td margin: 40 px;
        tr
          td
            code .u-maN
          td margin: 0;
        tr
          td
            code .u-mtS
          td margin-top: 10 px;
        tr
          td
            code .u-mtM
          td margin-top: 20 px;
        tr
          td
            code .u-mtL
          td margin-top: 40 px;
        tr
          td
            code .u-mtN
          td margin-top: 0;
        tr
          td
            code .u-mrS
          td margin-right: 10 px;
        tr
          td
            code .u-mrM
          td margin-right: 20 px;
        tr
          td
            code .u-mrL
          td margin-right: 40 px;
        tr
          td
            code .u-mrN
          td margin-right: 0;
        tr
          td
            code .u-mbS
          td margin-bottom: 10 px;
        tr
          td
            code .u-mbM
          td margin-bottom: 20 px;
        tr
          td
            code .u-mbL
          td margin-bottom: 40 px;
        tr
          td
            code .u-mbN
          td margin-bottom: 0;
        tr
          td
            code .u-mlS
          td margin-left: 10 px;
        tr
          td
            code .u-mlM
          td margin-left: 20 px;
        tr
          td
            code .u-mlL
          td margin-left: 40 px;
        tr
          td
            code .u-mlN
          td margin-left: 0;
  .hf-content.hf-wrapper
    h3 Padding
    table
      thead
        tr
          th Class
          th Usage
      tbody
        tr
          td
            code .u-paS
          td padding: 10 px;
        tr
          td
            code .u-paM
          td padding: 20 px;
        tr
          td
            code .u-paL
          td padding: 40 px;
        tr
          td
            code .u-paN
          td padding: 0;
        tr
          td
            code .u-ptS
          td padding-top: 10 px;
        tr
          td
            code .u-ptM
          td padding-top: 20 px;
        tr
          td
            code .u-ptL
          td padding-top: 40 px;
        tr
          td
            code .u-ptN
          td padding-top: 0;
        tr
          td
            code .u-prS
          td padding-right: 10 px;
        tr
          td
            code .u-prM
          td padding-right: 20 px;
        tr
          td
            code .u-prL
          td padding-right: 40 px;
        tr
          td
            code .u-prN
          td padding-right: 0;
        tr
          td
            code .u-pbS
          td padding-bottom: 10 px;
        tr
          td
            code .u-pbM
          td padding-bottom: 20 px;
        tr
          td
            code .u-pbL
          td padding-bottom: 40 px;
        tr
          td
            code .u-pbN
          td padding-bottom: 0;
        tr
          td
            code .u-plS
          td padding-left: 10 px;
        tr
          td
            code .u-plM
          td padding-left: 20 px;
        tr
          td
            code .u-plL
          td padding-left: 40 px;
        tr
          td
            code .u-plN
          td padding-left: 0;
