extends ../../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Utils de texte"
  - var metaDesc = "Utils de texte - CSS"
  - var path = './../../'

block content
  .hf-head
    .hf-wrapper
      h1 Text
  .hf-content.hf-wrapper
    h2 Documentation
    p Les utilitaires de texte permettent de modifier les styles de texte des éléments.
  .hf-content.hf-wrapper
    h3 Modification de style
    table
      thead
        tr
          th Class
          th Usage
      tbody
        tr
          td
            code .u-textUpper
          td.u-textUpper Texte tout en capitales
        tr
          td
            code .u-textLower
          td.u-textLower Texte tout en minuscules
        tr
          td
            code .u-textBold
          td.u-textBold Texte tout en gras
        tr
          td
            code .u-textThin
          td.u-textThin Texte tout en light
        tr
          td
            code .u-textCenter
          td.u-textCenter Texte centré
        tr
          td
            code .u-textLeft
          td.u-textLeft Texte aligné à droite
        tr
          td
            code .u-textRight
          td.u-textRight Texte aligné à gauche
  .hf-content.hf-wrapper
    h3 Modification de taille
    table
      thead
        tr
          th Class
          th Usage
      tbody
        tr
          td
            code .u-textXXL
          td.u-textXXL Lorem ipsum
        tr
          td
            code .u-textXL
          td.u-textXL Lorem ipsum
        tr
          td
            code .u-textL
          td.u-textL Lorem ipsum
        tr
          td
            code .u-textM
          td.u-textM Lorem ipsum
        tr
          td
            code .u-textS
          td.u-textS Lorem ipsum
        tr
          td
            code .u-textXS
          td.u-textXS Lorem ipsum
        tr
          td
            code .u-textXXS
          td.u-textXXS Lorem ipsum

