extends ../../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Utils de couleur de texte"
  - var metaDesc = "Utils de couleur de texte - CSS"
  - var path = './../../'

block content
  .hf-head
    .hf-wrapper
      h1 Text Color
  .hf-content.hf-wrapper
    h2 Documentation
    p Les utilitaires de couleurs permettent de modifier les couleurs des éléments.
  .hf-content.hf-wrapper
    h3 Couleur : Light (blanc)
    table
      thead
        tr
          th Class
          th Rendu
      tbody
        tr
          td
            code .u-textClrLight
          td.u-textClrLight lorem ipsum dolor
  .hf-content.hf-wrapper
    h3 Couleur : Clr0 (noir)
    table
      thead
        tr
          th Class
          th Rendu
      tbody
        tr
          td
            code .u-textClr0Darken
          td
            .u-textClr0Darken lorem ipsum dolor
        tr
          td
            code .u-textClr0Dark
          td
            .u-textClr0Dark lorem ipsum dolor
        tr
          td
            code .u-textClr0
          td
            .u-textClr0 lorem ipsum dolor
        tr
          td
            code .u-textClr0Light
          td
            .u-textClr0Light lorem ipsum dolor
        tr
          td
            code .u-textClr0Lighten
          td
            .u-textClr0Lighten lorem ipsum dolor
  .hf-content.hf-wrapper
    h3 Couleur : Clr1 (bleu)
    table
      thead
        tr
          th Class
          th Rendu
      tbody
        tr
          td
            code .u-textClr1Darken
          td
            .u-textClr1Darken lorem ipsum dolor
        tr
          td
            code .u-textClr1Dark
          td
            .u-textClr1Dark lorem ipsum dolor
        tr
          td
            code .u-textClr1
          td
            .u-textClr1 lorem ipsum dolor
        tr
          td
            code .u-textClr1Light
          td
            .u-textClr1Light lorem ipsum dolor
        tr
          td
            code .u-textClr1Lighten
          td
            .u-textClr1Lighten lorem ipsum dolor
    .hf-content.hf-wrapper
      h3 Couleur : Clr2 (violet)
      table
        thead
          tr
            th Class
            th Rendu
        tbody
          tr
            td
              code .u-textClr2Darken
            td
              .u-textClr2Darken lorem ipsum dolor
          tr
            td
              code .u-textClr2Dark
            td
              .u-textClr2Dark lorem ipsum dolor
          tr
            td
              code .u-textClr2
            td
              .u-textClr2 lorem ipsum dolor
          tr
            td
              code .u-textClr2Light
            td
              .u-textClr2Light lorem ipsum dolor
          tr
            td
              code .u-textClr2Lighten
            td
              .u-textClr2Lighten lorem ipsum dolor
    .hf-content.hf-wrapper
      h3 Couleur : État
      table
        thead
          tr
            th Class
            th Rendu
        tbody
          tr
            td
              code .u-textClrNotice
            td
              .u-textClrNotice lorem ipsum dolor
          tr
            td
              code .u-textClrError
            td
              .u-textClrError lorem ipsum dolor
          tr
            td
              code .u-textClrWarning
            td
              .u-textClrWarning lorem ipsum dolor
          tr
            td
              code .u-textClrSuccess
            td
              .u-textClrSuccess lorem ipsum dolor
