extends ../../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Utils de taille"
  - var metaDesc = "Utils de taille - CSS"
  - var path = './../../'

block content
  .hf-head
    .hf-wrapper
      h1 Width
  .hf-content.hf-wrapper
    h2 Documentation
    p Les utilitaires de taille permettent modifier la taille des élements
    table
      thead
        tr
          th Class
          th Usage
      tbody
        tr
          td
            code .u-w20
          td
            .hf-gridItem.u-w20
        tr
          td
            code .u-w25
          td
            .hf-gridItem.u-w25
        tr
          td
            code .u-w33
          td
            .hf-gridItem.u-w33
        tr
          td
            code .u-w40
          td
            .hf-gridItem.u-w40
        tr
          td
            code .u-w50
          td
            .hf-gridItem.u-w50
        tr
          td
            code .u-w60
          td
            .hf-gridItem.u-w60
        tr
          td
            code .u-w66
          td
            .hf-gridItem.u-w66
        tr
          td
            code .u-w75
          td
            .hf-gridItem.u-w75
        tr
          td
            code .u-w80
          td
            .hf-gridItem.u-w80
        tr
          td
            code .u-w100
          td
            .hf-gridItem.u-w100
