/** ======================================
 * Molecule : Grid
 * ======================================= */

.grid {
  display: flex;
  flex-wrap: wrap;
  + .grid {
    margin-top: $gutter-width;
    @media (min-width: $mq-S-up) {
      margin-top: $gutter-width/2;
    }
  }
  @media (min-width: $mq-S-up) {
    margin: -$gutter-width/2;
  }
}

.grid-item {
  @media (max-width: $mq-S) {
    width: 100%;
    &:not(:first-child) {
      margin-top: $gutter-width;
    }
  }
  @media (min-width: $mq-S-up) {
    margin: $gutter-width/2;
    width: calc(100% - #{$gutter-width});
  }
}

/**
 * Grid child options
 * --------------------------------------- */

.grid-itemFirst {
  order: -1;
}

.grid-itemPush {
  margin-left: auto;
}

/**
 * Modifier : column
 * --------------------------------------- */

@media (min-width: $mq-S-up) and (max-width: $mq-M) {
  @include gridItem(S);
}

@media (min-width: $mq-S-up) {
  @include gridItem(S-UP);
}

@media (min-width: $mq-M-up) and (max-width: $mq-L) {
  @include gridItem(M);
}

@media (min-width: $mq-M-up) {
  @include gridItem(M-UP);
}

@media (min-width: $mq-L-up) {
  @include gridItem(L-UP);
}

/**
 * Modifier : grid option
 * --------------------------------------- */

.grid--center {
  justify-content: center;
}

.grid--equalHeight {
  .grid-item > * {
    height: 100%;
  }
}

.grid--noWrap {
  flex-wrap: nowrap;
}
