/** ======================================
 * Molecule : Content
 * ======================================= */

.m-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  dl,
  blockquote,
  table {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  /* Typography */
  h1 {
    @include title;
    margin: 1.5rem 0 0.8rem;
    font-size: $font-size-XXL;
  }

  h2 {
    @include title;
    margin: 1rem 0 0.8rem;
    font-size: $font-size-XL;
  }

  h3 {
    @include title;
    margin: 1.75rem 0 0.8rem;
    font-size: $font-size-L;
  }

  h4 {
    @include title;
    margin: 1.5rem 0 0.8rem;
    font-size: $font-size-M;
  }

  h5 {
    @include title;
    margin: 1.5rem 0 0.8rem;
    font-size: $font-size-XS;
  }

  h6 {
    @include title;
    margin: 1.5rem 0 0.8rem;
    font-size: $font-size-XXS;
  }

  p {
    margin: 2rem 0;
    > code {
      padding: 0.25rem 0.75rem;
      background: #eee;
      border: 1px solid darken(#eee, 5%);
      border-radius: $rad-S;
    }
  }

  blockquote {
    margin: 2rem 0;
    padding-left: 2rem;
    color: lighten($clr-0, 15);
    border-left: 4px solid $clr-divider;

    p {
      margin: 0;
    }

    cite::before {
      content: "\2014 \00A0";
    }
  }

  figcaption {
    font-size: $font-size-XS;
    font-style: italic;
  }

  code {
    font-family: courier, monospace;
  }

  pre {
    text-align: left;
    font-size: 100%;
  }

  /* List */

  ul,
  ol {
    padding-left: 2rem;
    margin: 2rem 0;
    ol,
    ul {
      list-style: circle;
      margin: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  dl {
    margin: 2rem 0;
  }

  dt {
    font-weight: bold;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  /* Separator */

  hr {
    height: 0;
    border: 1px solid $clr-divider;
    margin: 2rem 0 1rem;
  }

  /* Image */

  img {
    margin: 2rem 0;
  }

  /* Table */

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    line-height: 1.25;
  }

  thead {
    th {
      padding: 1rem;
      vertical-align: bottom;
      border-bottom: 2px solid $clr-divider;
      font-weight: $font-weight-bold;
    }
  }

  tbody {
    th {
      font-weight: $font-weight-bold;
    }
    tr,
    th {
      padding: 1rem;
      border-bottom: 1px solid $clr-divider;
    }
  }
}
