/** ======================================
 * Molecule : Form Inline
 * ======================================= */

.m-form-inline {
  display: flex;
  align-items: flex-start;
  .a-label {
    @include visually-hidden;
  }

  > *:not(:first-child) {
    margin-left: 1rem;
  }
}
