/** ======================================
 * Molecule : Form
 * ======================================= */

.m-form {
  &:not(:first-child) {
    margin-top: $spacer-M;
  }
}

.m-form-group {
  &:not(:first-child) {
    margin-top: $spacer-M;
  }
}

.m-form-group-small {
  font-size: 80%;
  color: tint($clr-0, 40%);
  line-height: 1.25;
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.m-form-footer {
  &:not(:first-child) {
    margin-top: $spacer-M;
  }
}
