/** ======================================
 * Component : Form
 * ======================================= */

.form-group {
  margin-bottom: $spacer-s;
  &:last-child {
    margin-bottom: 0;
  }
}

.form-label {
  margin: 0;
  font-weight: bold;
}

.form-label--required::after {
  content: " *";
}

.form-group small {
  font-size: 80%;
  color: tint($clr-0, 40%);
}

.form-input {
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="url"],
  input[type="email"],
  input[type="search"],
  input[type="date"],
  input[type="month"],
  input[type="number"],
  textarea,
  select {
    padding: rem(7) rem(10);
    line-height: 1.5;
    width: 100%;
    border: 1px solid $form-border-color;
    background-color: $clr-light;
    font-family: $form-font-family;
    font-size: $form-font-size;
    border-radius: $form-border-radius;
    box-shadow: $form-box-shadow;
    transition: $trans;
    &:hover {
      border-color: $form-border-color-hover;
    }
    &:focus {
      border-color: $form-border-color-focus;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }
  }
}
