/**
 * Form inline
 * Dependencies : _form.scss
 * --------------------------------------- */

.form--inline {
  display: flex;
  align-items: top;

  .form-group {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .form-label {
    @extend %visually-hidden;
  }

  .form-input input {
    border-radius: 0;
  }

  .form-group:first-child .form-input input {
    border-radius: $form-border-radius 0 0 $form-border-radius;
    border-right: none;
  }

  .button {
    border-radius: 0 $form-border-radius $form-border-radius 0;
  }

}
