/* ================================
/* Component : Form Inline
================================ */

.form--inline {
  display: flex;
  align-items: top;
}

.form--inline .form-group {
  flex-grow: 1;
  margin-bottom: 0;
}

.form--inline .form-label {
  @extend %visually-hidden;
}

.form--inline .form-control {
  border-radius: 0;
}

.form--inline .form-group:first-child .form-control {
  border-radius: $form-border-radius 0 0 $form-border-radius;
  border-right: none;
}

.form--inline .button {
  border-radius: 0 $form-border-radius $form-border-radius 0;
}
