/**
 * Input with icon
 * Dependencies : _form.scss
 * --------------------------------------- */

[class*=form-input--icon] {
  position: relative;
}

[class*=form-input--icon][class*=form-input--icon] {
  input {
    padding-right: rem(40);
  }
  [class*=icon-] {
    pointer-events: none;
    cursor: default;
    position: absolute;
    top: 50%;
    right: rem(12);
    line-height: 1;
    text-align: center;
    font-size: rem(20);
    color: $clr-0;
    transform: translateY(-50%);
  }
}

.form-input--iconInverse.form-input--iconInverse {
  input {
    padding-right: rem(10);
    padding-left: rem(40);
  }
  [class*=icon-] {
    right: auto;
    left: rem(12);
  }
}
