/**
 * Input with icon
 * Dependencies : _form.scss
 * --------------------------------------- */

[class*=form-input--icon] {
  position: relative;
}

[class*=form-input--icon][class*=form-input--icon] {
  input {
    padding-right: 4rem;
  }

  [class*=icon-] {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    pointer-events: none;
    color: $clr-0;
    cursor: default;
    transform: translateY(-50%);
  }
}

.form-input--iconInverse.form-input--iconInverse {
  input {
    padding-right: 1rem;
    padding-left: 4rem;
  }

  [class*=icon-] {
    right: auto;
    left: 1.2rem;
  }
}
