/**
 * Form inline
 * Dependencies : _form.scss
 * --------------------------------------- */

.form--inline {
  display: flex;
  align-items: top;

  .form-group {
    flex-grow: 1;
    margin-bottom: 0;
    &[class*=w-] {
      flex-grow: 0;
    }
    &:first-child {
      .form-input {
        input, select {
          border-radius: $form-border-radius 0 0 $form-border-radius;
        }
      }
    }
    &:only-child {
      .form-input {
        input, select {
          border-right: 1px solid $form-border-color;
          border-radius: $form-border-radius;
        }
      }
    }
    .form-input {
      input, select {
        border-right: none;
        border-radius: 0;
      }
    }
  }

  .form-label {
    @include visually-hidden;
  }

  .form-input {
    input {
      border-radius: 0;
    }
  }

  .button {
    display: block;
    width: 100%;
    text-align: center;
    line-height:  em(40, 14);
    height: em(40, 14);
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 $form-border-radius $form-border-radius 0;
  }

}
