/* ================================
/* Component : Button
================================ */

/* Base style
-------------------------- */

%button {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: em(12) em(18);
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: em(14);
  font-weight: bold;
  border-radius: $rad;
  transition: $trans;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-appearance: none;
  &Truncate { @extend %truncate }
  + [class*=button] {
    @media (min-width: $mq-s-up) {
      margin-left: rem(10);
    }
  }
  &:disabled,
  &.is-disabled {
    cursor: default;
    opacity: .45!important;
    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none;
  }
  .no-flexbox & {
    display: inline-block;
    vertical-align: middle;
  }
}

.button {
  color: $clr-light;
  background-color: $clr-1;
  @extend %button;
  &:hover, &:focus {
    color: $clr-light;
    background: $clr-1-darken;
  }
  &.is-active,
  .is-pressed {
    background: shade($clr-1, 40%);
  }
}

/* Modifier : Color
-------------------------- */

.button--secondary {
  color: $base-font-color;
  background: $clr-light;
  box-shadow: inset 0 0 0 1px $base-border-color;
  &:hover, &:focus {
    color: $base-font-color;
    background: $base-border-color;
  }
  &.is-active,
  .is-pressed {
    color: $clr-light;
    background: shade($base-border-color, 40%);
  }
}

.button--danger {
  background-color: $clr-danger;
  &:hover, &:focus {
    background: shade($clr-danger, 20%);
  }
}

/* Modifier : Size
-------------------------- */

.button--small {
  padding: em(8) em(18);
}

.button--big {
  padding: em(20) em(64);
  font-size: em(18);
}

.button--block {
  display: block;
  width: 100%;
}

.button--mobileFull {
  @media (max-width: $mq-s-up) {
    display: block;
    width: 100%;
  }
}

/* Button icon
-------------------------- */

.button[class*="icon-"]::before {
  .no-flexbox & {
    vertical-align: top;
  }
}

.button[class*="icon-"] span {
  @extend %visually-hidden;
}

/* Button icon + text
-------------------------- */

.button [class*="icon-"] {
  margin-right: em(10);
  .no-flexbox & {
    vertical-align: middle;
  }
}

/* Button label icon
-------------------------- */

.button--labeled [class*="icon-"],
.button--labeled-right [class*="icon-"] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: em(46);
  margin-right: 0;
  background: rgba(0,0,0,0.075);
}

.button--labeled [class*="icon-"]::before,
.button--labeled-right [class*="icon-"]::before {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  .no-csstransforms3d & {
    margin-top: -0.5em;
  }
}

/* Left label */

.button--labeled {
  padding-left: em(64)
}

.button--labeled [class*="icon-"] {
  left: 0;
  border-radius: $rad 0 0 $rad;
}

/* Right label */

.button--labeled-right {
  padding-right: em(64);
}

.button--labeled-right [class*="icon-"] {
  right: 0;
  border-radius: 0 $rad $rad 0;
}

/* Button circular
-------------------------- */

.button--circular {
  padding: em(12);
  border-radius: em(666);
}

/* Button grouped
-------------------------- */

.buttonGrouped .button {
  border-radius: 0;
  &:first-child {
    border-radius: $rad 0 0 $rad;
  }
  &:last-child {
    border-radius: 0 $rad $rad 0;
  }
}

.buttonGrouped .button + .button {
  margin-left: -1px;
}
