/**
 * Button icons
 * Dependencies : _button.scss
 * --------------------------------------- */

// scss-lint:disable ColorVariable

.button[class*="icon-"] span {
  @include visually-hidden;
}

/**
 * Button icon + text
 * --------------------------------------- */

.button [class*="icon-"] {
  margin-right: em(10);
}

/**
 * Button label icon
 * --------------------------------------- */

.button--labeled [class*="icon-"],
.button--labeledInverse [class*="icon-"] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: em(46);
  margin-right: 0;
  background: rgba(0, 0, 0, .075);

  &::before {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(-50%) scale(1.2);
  }
}

/*
 * Left label
 */

.button--labeled {
  padding-left: em(64);

  [class*="icon-"] {
    left: 0;
    border-radius: $rad-S 0 0 $rad-S;
  }
}

/*
 * Right label
 */

.button--labeledInverse {
  padding-right: em(64);

  [class*="icon-"] {
    right: 0;
    border-radius: 0 $rad-S $rad-S 0;
  }
}
