/** ======================================
 * Component : Button
 * ======================================= */

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: em(12) em(18);
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: em(14);
  font-weight: bold;
  background-color: $clr-1;
  color: $clr-light;
  border-radius: $rad;
  transition: $trans;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-appearance: none;

  &:hover, &:focus {
    color: $clr-light;
    background: $clr-1-darken;
  }

  &.is-active,
  .is-pressed {
    background: shade($clr-1, 40%);
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
    opacity: .45!important;
    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none;
  }

  + [class*=button] {
    @media (min-width: $mq-s-up) {
      margin-left: rem(10);
    }
  }

}

/**
 * Modifier : Color
 * --------------------------------------- */

.button--secondary {
  color: $base-font-color;
  background: $clr-light;
  box-shadow: inset 0 0 0 1px $base-border-color;
  &:hover, &:focus {
    color: $base-font-color;
    background: $base-border-color;
  }
  &.is-active,
  .is-pressed {
    color: $clr-light;
    background: shade($base-border-color, 40%);
    box-shadow: none;
  }
}

.button--danger {
  background-color: $clr-danger;
  &:hover, &:focus {
    background: shade($clr-danger, 20%);
  }
}

/**
 * Modifier : Size
 * --------------------------------------- */

.button--small {
  padding: em(8) em(18);
}

.button--big {
  padding: em(20) em(64);
  font-size: em(18);
}

.button--block {
  display: block;
  width: 100%;
}

.button--blockMobile {
  @media (max-width: $mq-s-up) {
    display: block;
    width: 100%;
  }
}
