extends ../layout/base

block content
  .l-wrapper
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui nesciunt nisi est fugit voluptatum aspernatur magni. Voluptatibus non nemo quibusdam recusandae culpa voluptates hic, laudantium velit, labore, rerum commodi! Aliquam.
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui nesciunt nisi est fugit voluptatum aspernatur magni. Voluptatibus non nemo quibusdam recusandae culpa voluptates hic, laudantium velit, labore, rerum commodi! Aliquam.
    p
      a(href='#') Lorem ipsum dolor sit amet consectetur,
      |
      | adipisicing elit. Qui nesciunt nisi est fugit voluptatum aspernatur magni. Voluptatibus non nemo quibusdam recusandae culpa voluptates hic, laudantium velit, labore, rerum commodi! Aliquam.

