/** ======================================
 * Utils : Layout
 * ======================================= */

.u-no-bfc {
  overflow: hidden !important;
}

.u-float-left {
  float: left !important;
}

.u-float-right {
  float: right !important;
}

.u-flex-push-left {
  margin-left: auto !important;
}

.u-flex-inline-grid.u-flex-inline-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5rem;
  > * {
    margin: 0.5rem;
  }
}
