/** ======================================
 * Utils : Show / Hide
 * ======================================= */

.u-hideMobile {
  display: none !important;

  @media #{$mobileUp} {
    display: block !important;
  }
}

.u-showMobile {
  @media #{$mobileUp} {
    display: none !important;
  }
}

.u-visuallyHidden {
  @include visually-hidden;
}
