/** ======================================
 * Utils : Show / Hide
 * ======================================= */

.u-hide-mobile {
  display: none !important;

  @media #{$mobileUp} {
    display: block !important;
  }
}

.u-show-mobile {
  @media #{$mobileUp} {
    display: none !important;
  }
}

.u-visually-hidden {
  @include visually-hidden;
}
