/** ======================================
 * Utils : Text color
 * ======================================= */

.u-textClrLight {
  color: $clr-light !important;
}

.u-textClrSuccess {
  color: $clr-success !important;
}

.u-textClrWarning {
  color: $clr-warning !important;
}

.u-textClrNotice {
  color: $clr-notice !important;
}

.u-textClrError {
  color: $clr-error !important;
}

.u-textClr0 {
  color: $clr-0 !important;
}

.u-textClr0Light {
  color: $clr-0-light !important;
}

.u-textClr0Lighten {
  color: $clr-0-lighter !important;
}

.u-textClr0Dark {
  color: $clr-0-dark !important;
}

.u-textClr0Darken {
  color: $clr-0-darker !important;
}

.u-textClr1 {
  color: $clr-1 !important;
}

.u-textClr1Light {
  color: $clr-1-light !important;
}

.u-textClr1Lighten {
  color: $clr-1-lighter !important;
}

.u-textClr1Dark {
  color: $clr-1-dark !important;
}

.u-textClr1Darken {
  color: $clr-1-darker !important;
}

.u-textClr2 {
  color: $clr-2 !important;
}

.u-textClr2Light {
  color: $clr-2-light !important;
}

.u-textClr2Lighten {
  color: $clr-2-lighter !important;
}

.u-textClr2Dark {
  color: $clr-2-dark !important;
}

.u-textClr2Darken {
  color: $clr-2-darker !important;
}
