/** ======================================
 * Utils : Text color
 * ======================================= */

.u-txtClrLight {
  color: $clr-light !important;
}

.u-txtClrSuccess {
  color: $clr-success !important;
}

.u-txtClrWarning {
  color: $clr-warning !important;
}

.u-txtClrNotice {
  color: $clr-notice !important;
}

.u-txtClrDanger {
  color: $clr-danger !important;
}

.u-txtClr0 {
  color: $clr-0 !important;
}

.u-txtClr0Light {
  color: $clr-0-light !important;
}

.u-txtClr0Lighten {
  color: $clr-0-lighter !important;
}

.u-txtClr0Dark {
  color: $clr-0-dark !important;
}

.u-txtClr0Darken {
  color: $clr-0-darker !important;
}

.u-txtClr1 {
  color: $clr-1 !important;
}

.u-txtClr1Light {
  color: $clr-1-light !important;
}

.u-txtClr1Lighten {
  color: $clr-1-lighter !important;
}

.u-txtClr1Dark {
  color: $clr-1-dark !important;
}

.u-txtClr1Darken {
  color: $clr-1-darker !important;
}

.u-txtClr2 {
  color: $clr-2 !important;
}

.u-txtClr2Light {
  color: $clr-2-light !important;
}

.u-txtClr2Lighten {
  color: $clr-2-lighter !important;
}

.u-txtClr2Dark {
  color: $clr-2-dark !important;
}

.u-txtClr2Darken {
  color: $clr-2-darker !important;
}
