/** ======================================
 * Utils : Text color
 * ======================================= */

.u-text-color-light {
  color: $clr-light !important;
}

.u-text-color-success {
  color: $clr-success !important;
}

.u-text-color-warning {
  color: $clr-warning !important;
}

.u-text-color-notice {
  color: $clr-notice !important;
}

.u-text-color-error {
  color: $clr-error !important;
}

.u-text-color-0 {
  color: $clr-0 !important;
}

.u-text-color-0-light {
  color: $clr-0-light !important;
}

.u-text-color-0-lighten {
  color: $clr-0-lighter !important;
}

.u-text-color-0-dark {
  color: $clr-0-dark !important;
}

.u-text-color-0-darken {
  color: $clr-0-darker !important;
}

.u-text-color-1 {
  color: $clr-1 !important;
}

.u-text-color-1-light {
  color: $clr-1-light !important;
}

.u-text-color-1-lighten {
  color: $clr-1-lighter !important;
}

.u-text-color-1-dark {
  color: $clr-1-dark !important;
}

.u-text-color-1-darken {
  color: $clr-1-darker !important;
}

.u-text-color-2 {
  color: $clr-2 !important;
}

.u-text-color-2-light {
  color: $clr-2-light !important;
}

.u-text-color-2-lighten {
  color: $clr-2-lighter !important;
}

.u-text-color-2-dark {
  color: $clr-2-dark !important;
}

.u-text-color-2-darken {
  color: $clr-2-darker !important;
}
