/** ======================================
 * Utils : Txt
 * ======================================= */

/* Style */

.u-textUpper {
  text-transform: uppercase !important;
}

.u-textLower {
  text-transform: lowercase !important;
}

.u-textBold {
  font-weight: $font-weight-bold !important;
}

.u-textThin {
  font-weight: $font-weight-thin !important;
}

.u-textCenter {
  text-align: center !important;
}

.u-textLeft {
  text-align: left !important;
}

.u-textRight {
  text-align: right !important;
}

/* Size */

.u-textXXL {
  font-size: $font-size-XXL !important;
}

.u-textXL {
  font-size: $font-size-XL !important;
}

.u-textL {
  font-size: $font-size-L !important;
}

.u-textM {
  font-size: $font-size-M !important;
}

.u-textS {
  font-size: $font-size-S !important;
}

.u-textXS {
  font-size: $font-size-XS !important;
}

.u-textXXS {
  font-size: $font-size-XXS !important;
}
