extends ../../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Buttons"
  - var metaDesc = "Buttons - CSS / HTML"
  - var path = './../../'

block content
  .hf-head
    .hf-wrapper
      h1 Button
      nav
        a(href="#styles") Styles
        a(href="#states") États
        a(href="#sizes") Tailles
  .hf-wrapper
    .hf-content
      h2#styles Styles
    :code
      <a class="a-button" href="#">Bouton</a>
      <button class="a-button">Bouton</button>
      <input class="a-button" type="submit" value="Bouton">
    .hf-content
      h2#states États :
      h3 État actif
    :code
      <a class="a-button is-active" href="#">Bouton</a>
    .hf-content
      h3 Style disabled
    :code
      <a class="a-button is-disabled" href="#" disabled>Bouton</a>
      <button class="a-button" disabled >Bouton</button>
    .hf-content
      h2#sizes Tailles :
      h3 Taille S
    :code
      <a class="a-button a-button--S" href="#">Bouton</a>
      <button class="a-button a-button--S">Bouton</button>
      <input class="a-button a-button--S" type="submit" value="Bouton"/>
    .hf-content
      h3 Pleine largeur
    :code
      <a class="a-button a-button--fullWidth" href="#">Bouton</a>
    .hf-content
      h3 Pleine largeur uniquement sur mobile
    :code
      <a class="a-button a-button--fullWidthMobile" href="#">Bouton</a>
