extends ../../../layout/styleguide

append config
  - var template = 't-styleguide'
  - var title = "Inputs checkbox"
  - var metaDesc = "Inputs checkbox - CSS / HTML"
  - var path = './../../'

block content
  .hf-head
    .hf-wrapper
      h1 Input checkbox
      nav
        a(href="#types") Types
        a(href="#states") États
  .hf-wrapper
    .hf-content
      h2#types Types
      h3 Input radio
    :code
      <div class="a-inputCheckbox">
        <input id="inputCheckbox-base-1" type="checkbox" name="inputCheckbox-base"/>
        <label for="inputCheckbox-base-1">Radio A</label>
      </div>
    .hf-content
      h2#states États
      h3 État : disabled
    :code
      <div class="a-inputCheckbox">
        <input id="inputCheckbox-base-2" type="checkbox" name="inputCheckbox-base" disabled/>
        <label for="inputCheckbox-base-2">Radio A</label>
      </div>
    .hf-content
      h3 État : error
    :code
      <div class="a-inputCheckbox is-error">
        <input id="inputCheckbox-base-3" type="checkbox" name="inputCheckbox-base"/>
        <label for="inputCheckbox-base-3">Radio A</label>
      </div>
