extends ../layout/base

block config
  - var title = "Boutons CSS | Hello Front"
  - var metaDesc = "Composants SCSS de boutons"
  - var navLinkActive = 'Boutons'

block content

  +contentHeader("Boutons")

  .wrapper
    .pod
      h2.pod-title Style de boutons

      h3 Bouton de base
      .exemple
        a(href="#", role="button").button Lien
        button.button Bouton
        input(type="submit", value="Input").button

      h3 Bouton secondaire
      .exemple
        a(href="#", role="button").button.button--secondary Lien
        button.button.button--secondary Bouton
        input(type="submit", value="Input").button.button--secondary

      h3 Bouton danger
      .exemple
        a(href="#", role="button").button.button--danger Link
        button.button.button--danger Button
        input(type="submit", value="Input").button.button--danger

    .pod
      h2.pod-title État des boutons
      h3 Disabled
      .exemple
        a.button.is-disabled(href="#", role="button") Lien
        button.button.button--secondary(disabled) Bouton
        input.button.button--danger(type="submit", value="Input", disabled)
      h3 Active
      .exemple
        a.button.is-active(href="#", role="button") Lien
        button.button.button--secondary.is-active Bouton

    .pod
      h2.pod-title Taille des boutons
      h3 Tailles
      .exemple
        a(href="#", role="button").button.button--small .button--small
        a(href="#", role="button").button .button
        a(href="#", role="button").button.button--big .button--big
      h3 Bouton Block
      p Version du bouton prenant la longueur de son parent.
      .exemple
        a(href="#", role="button").button.button--block .button--block
      p Version du bouton prenant la longueur de son parent suelement sur petit écran.
      .exemple
        a(href="#", role="button").button.button--blockMobile .button--blockMobile

    .pod
    h2.pod-title Bouton avec icône
      h3 Bouton icône
      .exemple
        a(href="#", role="button").button.icon-check
          span Check
        a(href="#", role="button").button.button--secondary.icon-close
          span Close
        a(href="#", role="button").button.button--danger.icon-trash
          span Delete
      h3 Icône + text
      .exemple
        a(href="#", role="button").button
          i.icon-check
          | Default
        a(href="#", role="button").button.button--secondary
          i.icon-close
          | Secondary
        a(href="#", role="button").button.button--danger
          i.icon-trash
          | Danger
      h3 Icône label
      .exemple
        a(href="#", role="button").button.button--labeled
          i.icon-check
          | Default
        a(href="#", role="button").button.button--secondary.button--labeled
          i.icon-close
          | Secondary
        a(href="#", role="button").button.button--danger.button--labeled
          i.icon-trash
          | Danger
      h3 Icône label - version inversée
      .exemple
        a(href="#", role="button").button.button--labeledInverse
          i.icon-check
          | Default
        a(href="#", role="button").button.button--secondary.button--labeledInverse
          i.icon-close
          | Secondary
        a(href="#", role="button").button.button--danger.button--labeledInverse
          i.icon-trash
          | Danger

    .pod
      h2.pod-title Boutons groupés
      .exemple
        .buttonGrouped
          a(href="#", role="button").button Share
          a(href="#", role="button").button.icon-close
            span Close
          a(href="#", role="button").button.icon-trash
            span Trash
