extend ../layout/base

append config
  - var title = "Buttons | Hello FRONT"
  - var metaDesc = "SCSS Buttons components"
  - var template = 't-home'
  - var navLinkActive = 'Buttons'

block content

    +contentHeader("Buttons", "https://github.com/sutter/helloFront/tree/master/app/assets/scss/components/button")

    h2 Button style
    h3 Basic button
    .exemple
      a(href="#", role="button").button Link
      button.button Button
      input(type="submit", value="Input").button

    h3 Secondary button
    .exemple
      a(href="#", role="button").button.button--secondary Link
      button.button.button--secondary Button
      input(type="submit", value="Input").button.button--secondary

    h3 Danger Button
    .exemple
      a(href="#", role="button").button.button--danger Link
      button.button.button--danger Button
      input(type="submit", value="Input").button.button--danger
    
    h2 State
    h3 Desabled
    .exemple
      a.button.is-disabled(href="#", role="button") Link
      button.button(disabled) Button
      input.button(type="submit", value="Input", disabled)
    h3 Active
    .exemple
      a.button.is-active(href="#", role="button") Link
      button.button.is-active Button
      input.button.is-active(type="submit", value="Input")
      
    h2 Sizes button
    h3 Standard sizes
    .exemple
      a(href="#", role="button").button.button--small .button--small
      a(href="#", role="button").button .button
      a(href="#", role="button").button.button--big .button--big

    h3 Full size
    p Button version that the whole length of its parent.
    .exemple
      a(href="#", role="button").button.button--block .button--block

    h3 Full size on mobile
    p Version button taking the whole length of its parent mobile version .
    .exemple
      a(href="#", role="button").button.button--mobileFull .button--mobileFull

    h2 Button with icon
    h3 Icon only
    .exemple
      a(href="#", role="button").button.icon-check
        span Check
      a(href="#", role="button").button.button--secondary.icon-close
        span Close
      a(href="#", role="button").button.button--danger.icon-trash
        span Delete

    h3 Icon + text
    .exemple
      a(href="#", role="button").button
        i.icon-check
        | Default
      a(href="#", role="button").button.button--secondary
        i.icon-close
        | Secondary
      a(href="#", role="button").button.button--danger
        i.icon-trash
        | Danger

    h3 Icon label - left version
    .exemple
      a(href="#", role="button").button.button--labeled
        i.icon-check
        | Default
      a(href="#", role="button").button.button--secondary.button--labeled
        i.icon-close
        | Secondary
      a(href="#", role="button").button.button--danger.button--labeled
        i.icon-trash
        | Danger

    h3 Icon label - right version
    .exemple
      a(href="#", role="button").button.button--labeled-right
        i.icon-check
        | Default
      a(href="#", role="button").button.button--secondary.button--labeled-right
        i.icon-close
        | Secondary
      a(href="#", role="button").button.button--danger.button--labeled-right
        i.icon-trash
        | Danger

    h2 Circular buttons
    .exemple
      a(href="#", role="button").button.button--circular.icon-check
        span Check
      a(href="#", role="button").button.button--secondary.button--circular.icon-close
        span Close
      a(href="#", role="button").button.button--danger.button--circular.icon-trash
        span Trash

    h2 Buttons grouped
    .exemple
      .buttonGrouped
        a(href="#", role="button").button.button--secondary.icon-check
          span Check
        a(href="#", role="button").button.button--secondary.icon-close
          span Close
        a(href="#", role="button").button.button--secondary.icon-trash
          span Trash
