extend ../layout/base

append config
  - var title = "StyleGuide"
  - var metaDesc = "StyleGuide Page"
  - var template = 't-styleguide'
  - var navLinkActive = 'Color'

block content

    +contentHeader("Color")

    h2 Basic colors
    .swatch
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-0-lighten
        .swatch-item-title $clr-0-lighten
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-0-light
        .swatch-item-title $clr-0-light
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-0
        .swatch-item-title $clr-0
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-0-dark
        .swatch-item-title $clr-0-dark
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-0-darken
        .swatch-item-title $clr-0-darken
    .swatch
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-1-lighten
        .swatch-item-title $clr-1-lighten
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-1-light
        .swatch-item-title $clr-1-light
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-1
        .swatch-item-title $clr-1
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-1-dark
        .swatch-item-title $clr-1-dark
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-1-darken
        .swatch-item-title $clr-1-darken
    .swatch
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-2-lighten
        .swatch-item-title $clr-2-lighten
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-2-light
        .swatch-item-title $clr-2-light
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-2
        .swatch-item-title $clr-2
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-2-dark
        .swatch-item-title $clr-2-dark
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-2-darken
        .swatch-item-title $clr-2-darken
    
    h2 Message colors
    .swatch
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-error
        .swatch-item-title $clr-error
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-warning
        .swatch-item-title $clr-warning
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-success
        .swatch-item-title $clr-success
      .swatch-item
        .swatch-item-color.swatch-item-color--clr-notice
        .swatch-item-title $clr-notice

    h2 Social networking colors
    .swatch
      .swatch-item
        .swatch-item-color.swatch-item-color--facebook
        .swatch-item-title $facebook
      .swatch-item
        .swatch-item-color.swatch-item-color--twitter
        .swatch-item-title $twitter
      .swatch-item
        .swatch-item-color.swatch-item-color--linkedin
        .swatch-item-title $linkedin
      .swatch-item
        .swatch-item-color.swatch-item-color--instagram
        .swatch-item-title $instagram
      .swatch-item
        .swatch-item-color.swatch-item-color--youtube
        .swatch-item-title $youtube
      .swatch-item
        .swatch-item-color.swatch-item-color--google-plus
        .swatch-item-title $google-plus
      .swatch-item
        .swatch-item-color.swatch-item-color--pinterest
        .swatch-item-title $pinterest
