extend ../layout/base

append config
  - var title = "Form | Hello FRONT"
  - var metaDesc = "SCSS Form components"
  - var template = 't-home'
  - var navLinkActive = 'Form'

block content

    +contentHeader("Form", "https://github.com/sutter/helloFront/tree/master/app/assets/scss/components/form")

    h2 Grouped form
    .exemple
      form.form.form--grouped(action="")
        .form-group
          label.form-label(for="input6") Text
          input#input6.form-control(type="text", name="input6", placeholder="Placeholder")
        input.button(type="submit", value="Inscription")
