extend ../layout/base

append config
  - var title = "Hello Front - Grille"
  - var metaDesc = "Style de grille CSS."
  - var template = ''
  - var navLinkActive = 'Grille'

block content

  style.
    [class*=grid--] > * {
      background: #ededed;
      padding: 1rem;
      margin-bottom: 2rem;
      text-align: center;
    }
    .grid-push, .grid-itemDouble, .grid-itemBig {
      background: #E7E7FC;
    }
  +contentHeader("Grille")

  .wrapper
    .pod
      h2.pod-title Grille Fluide
      p La grille est construite avec <strong>flexbox</strong>, il faut donc veiller a bien ajouter les préfixes via autoprefixer. <br>Elle est <strong>mobile first</strong> et se déclanche au dessus du breackpoint <strong>$mq-s-up</strong> (réglage dans _settings.scss).
      p.u-mbm Le composant se déclare avec la classe <code>.grid</code>.<br/>Il suffit d'ajouter un <em>modifier</em> sur le composant afin de regler le nombre de colonnes.
      h3 4 colonnes <code>.grid.grid--4</code>
      .grid.grid--4
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 3 colonnes <code>.grid.grid--3</code>
      .grid.grid--3
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 2 colonnes <code>.grid.grid--2</code>
      .grid.grid--2
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 2 colonnes <code>.grid.grid--2</code>
      .grid.grid--2
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 Colonne 3/4  + colonne 1/4 <code>.grid.grid--3-1</code>
      .grid.grid--3-1
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 Colonne 1/4  + colonne 3/4 <code>.grid.grid--1-3</code>
      .grid.grid--1-3
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 Colonne 2/3  + colonne 1/3 <code>.grid.grid--2-1</code>
      .grid.grid--2-1
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 Colonne 1/3  + colonne 2/3 <code>.grid.grid--1-2</code>
      .grid.grid--1-2
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h2.pod-title Grille responsive
      p.u-mbm Il suffit d'ajouter un <em>modifier</em> sur le composant afin de regler le mode responsive. <br> il se déclanche entre les breackpoints <strong>$mq-s-up et $mq-m</strong>.<br> En dessous de <strong>$mq-s</strong> les colonnes font toutes 100% de largeur.
      h3 4 colonnes devient 3 colonnes <code>.grid.grid--4.grid--m3</code>
      .grid.grid--4.grid--m3
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 3 colonnes devient 2 colonnes <code>.grid.grid--3.grid--m2</code>
      .grid.grid--3.grid--m2
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 2 colonnes devient 1 colonne <code>.grid.grid--2.grid--m1</code>
      .grid.grid--2.grid--m1
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      h3 Colonnes 3/4 + colonne 1/4 devient 2 colonnes <code>.grid.grid--3-1.grid--m2</code>
      .grid.grid--3-1.grid--m2
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;

    .pod
      h2.pod-title Options
      h3 Options sur les enfants directs
      p <code>.grid-push</code> permet décaller un enfant vers la droite.
      .grid.grid--4
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div.grid-push &nbsp;
      p <code>.grid-itemDouble</code> double la taille d'un enfant (seulement sur une grille de 4 colonnes).
      .grid.grid--4
        div.grid-itemDouble &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div.grid-itemDouble &nbsp;
      p <code>.grid-itemBig</code> dit à l'élément de s'étirer dans l'espace restant.
      .grid.grid--4
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div.grid-itemBig &nbsp;
      h3 Modifiers du composant
      p Répartition sur l'espace disponible <code>.grid--itemsBig</code>
      .grid.grid--4.grid--itemsBig
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
      p Centrage horizontal <code>.grid--hcenter</code>
      .grid.grid--4.grid--hcenter
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
        div &nbsp;
