extend ../layout/base

append config
  - var title = "Hello Front - Image"
  - var metaDesc = "Style de base CSS pour élément d'images."
  - var template = ''
  - var navLinkActive = 'Images'

block content

  +contentHeader("Images")

  .wrapper

    .pod
      h2.pod-title Avatar
      .avatar
        .avatar-thumb
          img(src="https://placehold.it/50x50" width="50" height="50" alt="Placeholder")
        .avatar-name Lorem ipsum

