extends ../layout/base

append config
  - var template = 't-home'

block content
  .hero.u-txtCenter
    .wrapper
      h1.hero-title HelloFront starter template
      p.hero-baseline Use this document as a way to quickly start any new project.
