extend ../layout/base

append config
  - var title = "Index of project"
  - var metaDesc = "Description of index page"
  - var template = 't-home'
  - var navLinkActive = 'Accueil'

block content

  +contentHeader("SCSS Components")

  .wrapper
    include:markdown ../../../README.md
