extend ../layout/base

append config
  - var title = "Hello Front - theme SCSS"
  - var metaDesc = "Hello Front est un thème SCSS de démarrage de projet compatible à partir de IE10."
  - var template = 't-home'
  - var navLinkActive = 'Accueil'

block content

  +contentHeader("Composants SCSS")

  .wrapper
    .pod
      p.txtLead Hello Front est un thème SCSS de démarrage de projet compatible à partir de IE10.
      a(href="https://github.com/sutter/helloFront", role="button", target="_blank").button.button--secondary.button--labeled
        i.icon-github
        | Voir sur Github
      hr
      h2.txtL Organisation des fichiers SCSS
      ul
        li <strong>base/</strong> : Éléments Html de base
        li <strong>components/</strong> : Composants et morceaux de l'interface utilisateur
        li <strong>tools/</strong> : Mixin et fonctions
        li <strong>utils/</strong> : Helpers et overrides
        li <strong>_settings.scss</strong> : Variables globales
        li <strong>main.scss</strong> : Feuille de style principale
      hr
      h2.txtL Convention de nommage SCSS
      include:markdown ../md/nommage-css.md
