extends ../layout/summary

append config
  - var title = "Sommaire"
  - var metaDesc = "My page description"

block content
  .hf-wrapper
    .hf-content
      h2 Pages
      ul
        li
          a(href="./home.html") Accueil
      h2 Documentation
      ul
        li
          a(href="./styleguide") Styleguide

