extend ../layout/base

append config
  - var title = "Hello Front - formulaires CSS"
  - var metaDesc = "Style de base CSS pour élément de formulaire."
  - var template = 't-home'
  - var navLinkActive = 'Formulaire'
  - var subNavLinkActive = 'Inputs'

block content

  +contentHeader("Formulaire")

  .wrapper

    .grid.grid--1-3

      div
        include ../partials/menuForm

      div

        .pod
          h2.pod-title Input de base
          .exemple
            form.from(action="")
              .form-group
                label.form-label(for="input-text") Text
                .form-input
                  input#input-text(type="text", name="input-text", placeholder="Placeholder")
              .form-group
                label.form-label(for="input-select") Select
                .form-input
                  select#input-select(name="input-select")
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
              .form-group
                label.form-label(for="input-password") Password
                .form-input
                  input#input-password(type="password", name="input-password", placeholder="Placeholder")
              .form-group
                label(for="textarea") Message
                .form-input
                  textarea#textarea(rows="6")
              .form-group
                p.form-label Radio
                .form-input
                  ul.listInline
                    li
                      input#radioCustom1(type="radio", name="radioCustom")
                      label(for="radioCustom1") Radio 1
                    li
                      input#radioCustom2(type="radio", name="radioCustom")
                      label(for="radioCustom2") Radio 2
                    li
                      input#radioCustom3(type="radio", name="radioCustom")
                      label(for="radioCustom3") Radio 3
              .form-group
                p.form-label Checkbox
                .form-input
                  input#checkbox(type="checkbox", name="checkbox")
                  label(name="checkbox", for="checkbox") Checkbox
              .form-group
                p.form-label Toggle Checkbox
                .form-input
                  input#toggle.form-toggle-input(type="checkbox", name="toggle")
                  label.form-toggle-label(name="toggle",for="toggle") Toggle
              .form-group
                label.form-label(for="input-tel") Tel
                .form-input
                  input#input-tel(type="tel", name="input-tel", placeholder="Placeholder")
              .form-group
                label.form-label(for="input-url") Url
                .form-input
                  input#input-url(type="url", name="input-url", placeholder="Placeholder")
              .form-group
                label.form-label(for="input-email") Email
                .form-input
                  input#input-email(type="email", name="input-email", placeholder="Placeholder")
              .form-group
                label.form-label(for="input-search") Search
                .form-input
                  input#input-search(type="search", name="input-search", placeholder="Placeholder")
              .form-group
                label.form-label(for="input-date") Date
                .form-input
                  input#input-date(type="date", name="input-date")
              .form-group
                label.form-label(for="input-month") Month
                .form-input
                  input#input-month(type="month", name="input-month")
              .form-group
                label.form-label(for="input-number") Number
                .form-input
                  input#input-number(type="number", name="input-number", placeholder="Placeholder")
              .form-group
                label.form-label(for="input-range") Range
                .form-input
                  input#input-range(type="range", name="input-range")
              .form-group
                label.form-label(for="input-color") Color
                .form-input
                  input#input-color(type="color", value="#fad345" name="input-color")
              .form-group
                label.form-label(for="input-file") File
                .form-input
                  input#input-file(type="file" name="input-file")

        .pod
          h2.pod-title Input requis
          .form-group
            label.form-label.form-label--required(for="input-txt-required") lorem ipsum
            .form-input
              input#input-txt-required(type="text", name="input-txt-required", placeholder="Placeholder", required)

        .pod
          h2.pod-title Input avec message
          .form-group
            label.form-label(for="input-txt-msg") lorem ipsum
            .form-input
              input#input-txt-msg(type="text", name="input-txt-msg", placeholder="Placeholder", required)
            small Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        .pod
          h2.pod-title Input avec icône
          .form-group
            label.form-label(for="input-icon") Icône à droite
            .form-input.form-input--icon
              span.icon-github
              input#input-icon(type="text", name="input-icon", placeholder="Placeholder")
            small Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .form-group
            label.form-label(for="input-icon-inverse") Icône à gauche
            .form-input.form-input--iconInverse
              span.icon-github
              input#input-icon-inverse(type="text", name="input-icon-inverse", placeholder="Placeholder")

        .pod
          h2.pod-title État des inputs
          .exemple
            form.form(action="")
              .form-group.form-group--error
                label.form-label(for="input-txt-error") Error
                .form-input
                  input#input-txt-error(type="text", name="input-txt-error")
                .form-message Lorem ipsum dolor sit amet, consectetur adipisicing elit
              .form-group.form-group--warning
                label.form-label(for="input-txt-warning") Warning
                .form-input
                  input#input-txt-warning(type="text", name="input-txt-warning")
                .form-message Lorem ipsum dolor sit amet, consectetur adipisicing elit
              .form-group.form-group--success
                label.form-label(for="input-sucsess") Success
                .form-input
                  input#input-sucsess(type="text", name="input-sucsess")
                .form-message Lorem ipsum dolor sit amet, consectetur adipisicing elit
              .form-group.form-group--disabled
                label.form-label(for="input-disabled") Disabled
                .form-input
                  input#input-disabled(type="text", name="input-disabled", disabled, placeholder="I'm desabled")
