extends ../layout/base

append config
  - var title = "Message CSS | Hello Front"
  - var metaDesc = "Composants SCSS de message"
  - var navLinkActive = 'Formulaire'
  - var subnavLinkActive = 'Message'

block content

  +contentHeader("Formulaire")

  .wrapper

    .grid.grid--1-3

      div
        include ../partials/menuForm

      div

        .pod
          h2.pod-title Message
          .msg
            .msg-title Titre du message
            p Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ul
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .msg.msg--error
            p Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .msg.msg--warning
            p Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .msg.msg--success
            p Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
