extend ../layout/base

append config
  - var title = "Hello Front - Tableau CSS"
  - var metaDesc = "Style de base CSS pour élément de tableau."
  - var template = ''
  - var navLinkActive = 'Tableau'

block content

  +contentHeader("Tableau")

  .wrapper

    .pod
      h2.pod-title Tableau de base
      table
        thead
          tr
            th Pays
            th Capitales
            th Population
            th Langue
        tbody
          tr
            td US
            td Washington D.C.
            td 309 millions
            td Anglais
          tr
            td Suède
            td Stockholm
            td 9 millions
            td Suédois
    .pod
      h2.pod-title Composant de tableau
      table.table
        thead
          tr
            th Pays
            th Capitales
            th Population
            th Langue
        tbody
          tr
            td US
            td Washington D.C.
            td 309 millions
            td Anglais
          tr
            td Suède
            td Stockholm
            td 9 millions
            td Suédois
