/** ======================================
 * Component : Menu Aside
 * ======================================= */

.menuAside {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid $clr-divider;
}

.menuAside-item + .menuAside-item {
  border-top: 1px solid $clr-divider;
}

.menuAside-link {
  display: block;
  padding: em(10) em(20) em(10) em(14);
  border-left: 6px solid transparent;
  &.is-active {
    border-left-color: $clr-1;
  }
}
