/** ======================================
 * Component : Menu
 * ======================================= */

.menu-inner {
  @include listReset;
  display: flex;
}

.menu-title {
  padding: em(6) em(14);
  font-weight: 700;
  color: $clr-light;
}

.menu-link {
  padding: em(6) em(14);
  font-size: em(14);

  &.is-active {
    color: $clr-light;
  }
}

/**
 * Modifier by parent
 * --------------------------------------- */

[id="header-nav"] {
  margin-left: auto;
}
