/** ======================================
 * Component : app
 * ======================================= */

[id="app"] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $clr-light;
}

[id="app-main"] {
  padding: 0 0 em(30) 0;
  flex-grow: 1;
}
