/** ======================================
 * Component : Avatar
 * ======================================= */

@import 'documentation/avatar';

.avatar {
  display: flex;
  align-items: center;
}

.avatar-thumb img {
  display: block;
  border-radius: 50%;
}

.avatar-name {
  margin-left: 1rem;
  line-height: 1;
}
