// ======================================
// Component : book
// =======================================

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $clr-0-lighter;
  box-shadow: $shadow-L;
  border-radius: $rad-S;
  overflow: hidden;
  height: 35rem;
  width: 100%;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.book-head {
  padding: 2rem;
}

.book-head-title {
  color: $clr-0-dark;
}

$spacing: 3px;

.book-body {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-right: -$spacing;
}

.book-body--empty {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.book-body-item {
  flex: 0 0 33.333%;
  padding-right: $spacing;
  padding-bottom: $spacing;
  color: $clr-0-light;

  img {
    width: 100%;
  }
}

.book-body-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  text-align: center;
}
