/** ======================================
 * Component : Button
 * ======================================= */

.button {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 1.5rem 3.5rem;
  font-weight: $font-weight-bold;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: $clr-light;
  border: 0;
  border-radius: $rad-S;
  background: $clr-2;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  -webkit-user-drag: none;
  -webkit-appearance: none;
  box-shadow: $shadow-M;

  &:hover,
  &:focus {
    color: $clr-light;
    outline: none;
    background: $clr-2-light;
    transform: translateY(-3px);
  }

  &:disabled:hover,
  &.is-disabled:hover {
    background: $clr-2;
  }

  &.is-active,
  .is-pressed {
    background: shade($clr-2, 40%);
  }

  &:disabled,
  &.is-disabled {
    background-image: none !important;
    box-shadow: none !important;
    cursor: not-allowed;
  }

  + [class*="button"] {
    @media (min-width: $mq-S-up) {
      margin-left: 1rem;
    }
  }
}

/**
 * Modifier : Color
 * --------------------------------------- */

.button--secondary {
  color: $clr-0;
  background: $clr-light;
  box-shadow: inset 0 0 0 1px $clr-0-light;

  &:hover,
  &:focus {
    color: $clr-0;
    background: $clr-0-light;
  }

  &:disabled:hover,
  &.is-disabled:hover {
    background: $clr-light;
  }

  &.is-active,
  .is-pressed {
    color: $clr-light;
    background: shade($clr-0-light, 40%);
    box-shadow: none;
  }
}

.button--danger {
  background: $clr-danger;

  &:disabled:hover,
  &.is-disabled:hover {
    background: $clr-danger;
  }

  &:hover,
  &:focus {
    background: shade($clr-danger, 20%);
  }
}

/**
 * Modifier : Size
 * --------------------------------------- */

.button--S {
  padding: 0.5rem 1.5rem;
  font-size: $font-size-XS;
}

.button--L {
  padding: 2rem 4rem;
  font-size: $font-size-L;
}

.button--block {
  justify-content: center;
  width: 100%;
}
