/** ======================================
 * Component : Content
 * ======================================= */

[id="content"] {
  padding-top: $spacer-s;
  padding-bottom: $spacer-s;
}

.content-header {
  padding: em(60) 0;
  margin-bottom: $spacer-l;
  background: $clr-2;
  overflow: hidden;
}

.content-header-title {
  color: $clr-light;
  &:only-child {
    margin: 0;
  }
}
