// ======================================
// Component : content
// =======================================

.content {
  padding: $spacer-XL 0;
  text-align: center;
}

.content-head:not(:only-child) {
  margin-bottom: 3rem;
}

.content-body {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;

  p:not(:last-child),
  p:not(:only-child) {
    margin-bottom: 2rem;
    font-size: $font-size-M;
    line-height: 1.33;
  }
}
