/** ======================================
 * Component : Content
 * ======================================= */

[id="content"] {
  padding-top: $spacer-S;
  padding-bottom: $spacer-S;
}

.content-header {
  overflow: hidden;
  margin-bottom: $spacer-L;
  padding: em(60) 0;
  background: $clr-2;
}

.content-header-title {
  color: $clr-light;

  &:only-child {
    margin: 0;
  }
}
