/* ================================
/* Component : Exemple
================================ */

.exemple {
  padding: em(15);
  background: $clr-light;
  border-radius: $rad;
  border: 1px solid $clr-0-lighten
}
