// ======================================
// Component : flashMessage
// =======================================

$pictoHeight: 20px;
$pictoWidth: 2px;

.flashMessage {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem 7rem;
  text-align: center;
  z-index: 9999;
  font-weight: $font-weight-bold;
  transform: translate3d(0, 100%, 0);
  animation: fadeInUp 0.3s ease-in-out forwards;
  animation-delay: 0.2s;
  will-change: opacity;
}

.flashMessage-close {
  position: absolute;
  right: 10px;
  top: calc(50% - 20px);
  bottom: 0;
  width: 40px;
  height: 40px;
  background: rgba(#000, 0.2);
  font-size: 0;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    top: calc(50% - #{$pictoHeight / 2});
    left: calc(50% - #{$pictoWidth / 2});
    display: block;
    content: "";
    width: $pictoWidth;
    height: $pictoHeight;
    background-color: #fff;
    transform: rotate(-45deg);
    transition: all 0.2s ease-out;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    &:before {
      transform: rotate(270deg);
    }
    &:after {
      transform: rotate(90deg);
    }
  }
}

//
// Modifier
// ---------------------------------------

.flashMessage.alert {
  background: $clr-danger;
  color: $clr-light;
}

.flashMessage.notice {
  background: $clr-notice;
  color: $clr-light;
}

.flashMessage.success {
  background: $clr-success;
  color: $clr-light;
}
