/** ======================================
 * Component : Footer
 * ======================================= */

.footer {
  padding: $spacer-M 0;
  font-size: 1.4rem;
  background: $clr-0-lighter;
}

.footer-innerPush {
  margin-left: auto;
  padding-left: $gutter-width;
}

/**
 * Modifier
 * --------------------------------------- */

.footer--innerSeparated {
  .wrapper {
    display: flex;
  }
}

.footer--txtCenter {
  .wrapper {
    text-align: center;
  }
}
