// ======================================
// Component : Form
// =======================================

.form {
  @media (max-width: $mq-S) {
    > .grid {
      margin-bottom: $spacer-M;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.form-group {
  margin-bottom: $spacer-M;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-group-feedback {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.25;
}

.form-group-small,
.form-error {
  display: block;
  font-size: 90%;
  color: tint($clr-0, 40%);
  margin-top: $spacer-S;
}

.form-group-label {
  @include label;
}

.form-group-label--required::after {
  content: " *";
}

.form-group-input {
  input:not([type="range"]),
  select {
    appearance: none;
  }

  #{$form-list-input},
  select {
    height: $form-group-input-height;
    padding: 0 1rem;
    line-height: 1;
  }

  #{$form-list-input},
  select,
  textarea {
    display: block;
    width: 100%;
    border: 1px solid $clr-0-light;
    border-radius: $rad-S;
    background-color: $clr-light;
    box-shadow: none;
    transition: $trans;

    &:hover {
      border-color: shade($clr-0-light, 10%);
    }

    &:focus {
      border-color: shade($clr-0-light, 20%);
      outline: none;
      box-shadow: none, 0 0 5px rgba(darken(shade($clr-0-light, 20%), 5), 0.7);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  textarea {
    min-height: $form-group-input-height * 2;
    padding: 1rem;
    line-height: 1.25;
  }
}

.form-fieldset {
  &:not(:only-child) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.form-fieldset-lead {
  font-weight: $font-weight-bold;

  &:not(:only-child) {
    margin-bottom: 1rem;
  }
}

.form-footer {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-footer-item {
  &:not(:first-child) {
    margin-top: $spacer-M;
  }
}

.form-errors {
  color: $clr-danger;
  line-height: 1.25;

  > * {
    margin-bottom: $spacer-M;
  }

  h2 {
    font-weight: $font-weight-bold;
  }

  ul {
    padding-left: 2rem;
    list-style: disc;
    margin-top: 1rem;
  }

  li + li {
    margin-top: 0.5rem;
  }
}

.form-error {
  color: $clr-danger;
}

/**
 * Modifier
 * --------------------------------------- */

.form-group-input--inline {
  display: flex;

  > * + * {
    margin-left: 2rem;
  }
}

.form-group-small--checkbox,
.form-group-small--radio {
  margin-left: 2.5rem;
}
