// ======================================
// Component : grid
// =======================================

.grid {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $mq-S-up) {
    margin-left: -$gutter-width;

    > * {
      margin-left: $gutter-width;
    }
  }

  @media (max-width: $mq-S) {
    > * {
      width: 100%;
    }
  }
}

//
// Modifier
// ---------------------------------------

.grid--equalColumns > * {
  flex-grow: 1;
}
