// ======================================
// Component : gridThumb
// =======================================

.gridThumb {
  margin-top: -1rem;

  @media (min-width: $mq-M-up) {
    margin-left: -1.5rem;
  }
}

.gridThumb-item {
  margin-bottom: 2rem !important;

  @media (min-width: $mq-S-up) {
    margin-bottom: 0 !important;
  }
}
