/** ======================================
 * Component : Header
 * ======================================= */


.header {
  padding: em(20) 0;
  background: $clr-0-darken;

  .wrapper {
    display: flex;
    align-items: center;
  }
}

.header-logo {
  display: block;
  margin: 0 $gutter-width 0 0;
  font-size: em(20);
}

.header-logo-link {
  text-transform: uppercase;
  color: $clr-light;
  transition: $trans;

  &:hover {
    opacity: .75;
    color: $clr-light;
  }
}
