// ======================================
// Component : heroBrand
// =======================================

.heroBrand {
  padding: 4rem $gutter-width 19rem;
  margin-bottom: -15rem;
  background: $clr-1;
  color: $clr-light;
  text-align: center;

  @media (max-width: $mq-S) {
    svg {
      width: 230px;
    }
  }

  @media (min-width: $mq-S-up) {
    padding: 7rem $gutter-width 27rem;
    margin-bottom: -20rem;
  }
}

.heroBrand-subtitle {
  font-size: 1.6rem;
  margin-top: 1rem;

  @media (min-width: $mq-S-up) {
    font-size: $font-size-L;
  }
}
