// ======================================
// Component : linkCta
// =======================================

.linkCta {
  position: relative;

  &::after {
    position: absolute;
    bottom: -0.3rem;
    left: -0.4rem;
    right: -0.4rem;
    height: 2px;
    background: $clr-1;
    content: "";
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    &::after {
      transform: rotateY(0deg);
    }
  }
}
