// ======================================
// Component : linkBullet
// =======================================

.linkBullet {
  display: inline-flex;
  align-items: center;

  &:hover {
    .linkBullet-icon {
      background: $clr-1-light;
    }
    .linkBullet-legend {
      color: $clr-1-light;
    }
  }
}

.linkBullet-icon {
  width: 3rem;
  height: 3rem;
  background: $clr-1;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;

  + .linkBullet-legend {
    margin-left: 1rem;
  }

  svg {
    path {
      fill: $clr-light;
    }
  }
}

.linkBullet-legend {
  font-size: $font-size-M;
  font-weight: $font-weight-bold;
  transition: color 0.3s ease-in-out;
}
