// ======================================
// Component : listTable
// =======================================

.listTable:not(:empty) {
  display: table;
  width: 100%;
  margin-bottom: 2rem;
  background: $clr-0-lighter;
  border-radius: $rad-S;
}

.listTable-item {
  display: table-row;

  > * {
    display: table-cell;
    padding: 1.25rem 1rem;
    color: $clr-0;
  }

  &:not(:last-child) {
    > * {
      border-bottom: 1px solid $clr-divider;
    }
  }
}

.listTable-item-tools {
  text-align: right;
  a {
    color: $clr-0;
    font-size: $font-size-XS;

    &:hover {
      color: $clr-danger;
    }
  }
}
