/* Component : List
-------------------------- */

%listReset,
.listReset {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

%listInline,
.listInline {
  padding-left: 0;
  margin: 0;
  > li {
    display: inline-block;
    vertical-align: middle;
    + li {
      margin-left: rem(5);
    }
  }
}
