/** ======================================
 * Component : List
 * ======================================= */

.listReset {
  @include listReset;
}

.listInline {
  padding-left: 0;
  margin: 0;
  > li {
    display: inline-block;
    vertical-align: middle;
    + li {
      margin-left: rem(5);
    }
  }
}
