/** ======================================
 * Component : List
 * ======================================= */

.listReset {
  @include listReset;
}

.listInline {
  margin: 0;
  padding-left: 0;

  > li {
    display: inline-block;
    vertical-align: middle;

    + li {
      margin-left: 5rem;
    }
  }
}
