// ======================================
// Component : main
// =======================================

.main {
  @media (min-width: $mq-nav-up) {
    padding-top: $height-header;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
