/** ======================================
 * Component : Menu
 * ======================================= */

@import '../documentation/menu';

.menu {
  display: flex;
  font-size: em(14);
}

.menu-inner {
  @include listReset;
  display: flex;
}

.menu-link {
  display: block;
  padding: em(6) em(14);

  &.is-active {
    color: $clr-0;
  }
}

/**
 * Modifier
 * --------------------------------------- */

.menu-inner--push {
  margin-left: auto;
  padding-left: $gutter-width;
}

.menu--vertical {
  display: block;

  .menu-inner {
    flex-direction: column;
  }

  .menu-item {
    &:not(:first-child) {
      border-top: 1px solid $clr-divider;
    }
  }
}

/**
 * Modifier by parent
 * --------------------------------------- */

.header {
  .menu {
    flex-grow: 1;
  }

  .menu-link {
    &.is-active {
      color: $clr-light;
    }
  }
}
