// ======================================
// Component : modal
// =======================================

.modal {
  background: $clr-light;
  border-radius: $rad-S;
  max-width: $modal-max-width;
  margin: auto;
  box-shadow: $shadow-L;
}

.modal-head {
  padding: 2rem;
  border-bottom: 1px solid $clr-divider;
}

.modal-head-title {
  font-size: $font-size-L;
  font-weight: $font-weight-bold;
  color: $clr-1;
}

.modal-body {
  padding: 2rem;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: $clr-0-lighter;
  border-radius: 0 0 $rad-S $rad-S;

  > *:not(:first-child) {
    margin-left: 2rem;
  }
}
