/**
 * Component : Msg
 * --------------------------------------- */

@import '../documentation/message';

.msg {
  padding: em(15, 14) em(20, 14);
  font-size: em(14);
  color: $clr-0-dark;
  border-radius: $radS;
  background-color: $clr-0-lighten;

  ul,
  p {
    margin: em(5, 14) 0;
    line-height: 1.25;

    &:last-child {
      margin-bottom: 0;
    }

    &:only-child {
      margin: 0;
    }
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

  &:not(:first-child) {
    margin-top: $spacer-M;
  }
}

.msg-title {
  font-size: em(18);
  font-weight: 700;
}

/* Modifier : state
-------------------------- */

.msg--error {
  color: shade($clr-error, 50%);
  background-color: tint($clr-error, 90%);
}

.msg--warning {
  color: shade($clr-warning, 50%);
  background-color: tint($clr-warning, 90%);
}

.msg--success {
  color: shade($clr-success, 50%);
  background-color: tint($clr-success, 90%);
}
