/** ======================================
 * Component : Pod
 * ======================================= */

.pod {
  margin: $spacer-l 0;
  &:first-child {
    margin-top: 0;
  }
}

.pod-title {
  margin-top: $spacer;
  margin-bottom: $spacer;
  padding-bottom: 0.6rem;
  @include title;
  font-size: $font-size-XL;
  border-bottom: 4px solid;
}
