/** ======================================
 * Component : Pod
 * ======================================= */

.pod {
  margin: $spacer-L 0;

  &:first-child {
    margin-top: 0;
  }
}

.pod-title {
  margin: $spacer-M 0;
  font-size: $font-size-XL;
  border-bottom: 4px solid;
}
