/** ======================================
 * Component : Table
 * ======================================= */

.table {
  width: 100%;
  margin: $spacer-S 0;
  border: 1px solid $clr-0-light;
  background: $clr-light;

  th {
    padding: $spacer-S;
    border-bottom: 2px solid $clr-0-light;
  }

  th:not(:first-child) {
    border-left: 1px solid tint($clr-0-light, 50%);
  }

  tbody {
    tr:nth-child(even) {
      background: $clr-0-lighten;
    }

    td {
      padding: $spacer-S / 2 $spacer-S;
      border-bottom: 1px solid $clr-0-light;
    }

    td:not(:first-child) {
      border-left: 1px solid tint($clr-0-light, 50%);
    }
  }
}
