// ======================================
// Component : typeahead
// =======================================

.tt-menu {
  background: $clr-0-lighter;
  border-radius: 0 0 $rad-S $rad-S;
  overflow: hidden;
  box-shadow: $shadow-L;
  border-left: 1px solid shade($clr-0-light, 20%);
  border-right: 1px solid shade($clr-0-light, 20%);
  border-bottom: 1px solid shade($clr-0-light, 20%);
  transform: translateX($rad-S);
}

.tt-suggestion {
  padding: 1rem 2rem;
  border-bottom: 1px solid $clr-divider;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $clr-0-dark;
  }
}
