/** ======================================
 *  * Component : Wrapper
 * ======================================= */

.wrapper {
  padding-right: $gutter-width;
  padding-left: $gutter-width;

  @media (min-width: $mq-s-up) {
    max-width: $wrap-max-width;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Modifier : size
-------------------------- */

.wrapper--small {
  @media (min-width: $mq-s-up) {
    max-width: $wrapSmall-max-width;
  }
}
