/** ======================================
 * Base : embed
 * ======================================= */

img {
  vertical-align: bottom;

  &:not([src$=".svg"]) {
    height: auto;
  }
}

img,
video,
svg {
  max-width: 100%;
}

iframe {
  border: 0;
}
