/** ======================================
 * Base : embed
 * ======================================= */

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

iframe {
  border: 0;
}
