/** ======================================
 * Base : Form
 * ======================================= */

input,
select,
textarea {
  display: block;
}

label {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;

  abbr {
    display: none;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $spacer-S / 2;
}

[type="file"] {
  width: 100%;
  margin-bottom: $spacer-S;
  padding-bottom: ($spacer-S / 3);
}

[type="search"] {
  box-sizing: border-box;
}

select {
  width: auto;
  max-width: 100%;
}

fieldset {
  margin: 0 0 $spacer-S;
  padding: $spacer-L;
  border: 1px solid $clr-0-light;
  border-radius: $rad-S;
  background: $clr-0-lighten;
}

::placeholder {
  color: tint($clr-0, 60%);
}
