/** ======================================
 * Base : Form
 * ======================================= */

input,
select {
  display: block;
}

input:not([type="range"]),
select {
  appearance: none;
}

label {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;

  abbr {
    display: none;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $spacer-s / 2;
}

[type="file"] {
  width: 100%;
  margin-bottom: $spacer-s;
  padding-bottom: ($spacer-s / 3);
}

[type="search"] {
  box-sizing: border-box;
}

select {
  width: auto;
  max-width: 100%;
}

fieldset {
  margin: 0 0 $spacer-s;
  padding: $spacer;
  border: 1px solid $clr-border;
  border-radius: $form-border-radius;
  background: $clr-0-lighten;
}

::placeholder {
  color: $color-mixin-placeholder;
}
