/** ======================================
 * Base : Grouping content
 * ======================================= */

figure {
  margin: 0 0 $spacer-s;
}

figcaption {
  font-size: $font-size-XS;
  font-style: italic;
}

hr {
  margin: $spacer-m 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $clr-border;
  border-left: 0;
}

blockquote {
  margin: $spacer-m 0;
  padding-left: $spacer-s;
  color: lighten($font-color-base, 15);
  border-left: 2px solid $clr-border;

  p {
    margin: 0;
  }

  cite::before {
    content: '\2014 \00A0';
  }
}

cite {
  font-style: italic;
  color: lighten($font-color-base, 25);
}

pre {
  font-size: em(13);

  code {
    display: block;
    padding: em(15) em(20);
    font-size: $font-size-S;
    color: $clr-0;
    border-color: $clr-0-light;
    background-color: $clr-0-lighten;
  }

  p {
    margin: 0;
  }
}

code,
kbd,
pre,
samp {
  font-family: $font-code;
  white-space: pre-wrap;
}

code,
kbd {
  padding: .3rem .5rem;
  font-size: $font-size-XXS;
  font-weight: $font-weight-base;
  vertical-align: middle;
  border-radius: $radS;
}

code {
  color: $clr-2;
  border: 1px solid tint($clr-2-light, 50%);
  background-color: tint($clr-2-light, 70%);
}

kbd {
  color: tint($clr-0, 30%);
  background-color: tint($clr-0-light, 40%);
}
