/** ======================================
 * Base : Grouping content
 * ======================================= */

figure {
  margin: 0 0 $spacer-S;
}

figcaption {
  font-size: $font-size-XS;
  font-style: italic;
}

hr {
  margin: $spacer-M 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $clr-0-light;
  border-left: 0;
}

blockquote {
  margin: $spacer-M 0;
  padding-left: $spacer-S;
  color: lighten($font-color-base, 15);
  border-left: 2px solid $clr-0-light;

  p {
    margin: 0;
  }

  cite::before {
    content: '\2014 \00A0';
  }
}

cite {
  font-style: italic;
  color: lighten($font-color-base, 25);
}

pre {
  code {
    display: block;
    border: 0;
    background: none;
  }

  p {
    margin: 0;
  }
}

code,
kbd,
pre,
samp {
  font-family: 'Source Code Pro', Consolas, monospace;
  white-space: pre-wrap;
}

code,
kbd {
  padding: .2rem .6rem;
  font-size: $font-size-XS;
  font-weight: $font-weight-base;
  vertical-align: middle;
  border-radius: $rad-S;
}

code {
  color: $clr-2;
  background-color: tint($clr-2-light, 85%);
}

kbd {
  color: tint($clr-0, 30%);
  background-color: tint($clr-0-light, 40%);
}
