/** ======================================
 * Base : Grouping content
 * ======================================= */

figure {
  margin: 0 0 $spacer-s 0;
}

figcaption {
  font-style: italic;
  font-size: em(14);
}

hr {
  margin: $spacer-m 0;
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
}

blockquote {
  margin: $spacer-m 0;
  padding-left: $spacer-s ;
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  p {
    margin: 0;
  }
  cite:before {
    content: '\2014 \00A0';
  }
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
}

pre {
  font-size: em(13);
}

pre code {
  display: block;
  font-size: em(16);
  color: $clr-0;
  padding: em(15) em(20);
  border-color: $clr-0-light;
  background-color: $clr-0-lighten;
}

pre code p {
  margin: 0;
}

code,
kbd,
pre,
samp {
  font-family: $code-font;
  white-space: pre-line;
  white-space: pre-wrap;
}

code,
kbd {
  font-size: .85em;
  background-color: tint($clr-0-light, 20%);
  border-radius: $rad;
}

code {
  padding: .25em .75em;
  border: 1px solid $clr-0-light;
}

kbd {
  padding: .25em .5em;
  background-color: tint($clr-0-light, 20%);
}
