/** ======================================
 * Base : Init
 * ======================================= */

// scss-lint:disable DuplicateProperty ImportantRule

// 1 - Set the font-size to 10px, which is adapted to rem unit
// 2  IE9-IE11 math fixing. See http://bit.ly/1g4X0bX
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; // 1 // No lint reported
  font-size: calc(1em * .625); // 2 // No lint reported
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100%;
  font-family: $font-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
  color: $font-color-base;
  background: $clr-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex="-1"]:focus {
  outline: none !important; // No lint reported
}
