/** ======================================
 * Base : Init
 * ======================================= */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  color: $base-font-color;
  background: $clr-light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex="-1"]:focus {
  outline: none !important;
}
