/** ======================================
 * Base : List
 * ======================================= */

ul,
ol {
  margin: $spacer-s 0;
  padding-left: $spacer;

  &:first-child {
    margin-top: 0;
  }
}

ul {
  list-style: disc;

  ul {
    margin-bottom: 0;
  }
}

ol {
  list-style: decimal;

  ol {
    margin-bottom: 0;
  }
}

dl {
  margin-bottom: $spacer-s;

  dt {
    margin-top: $spacer-s;
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}
