/** ======================================
 * Base : List
 * ======================================= */

ul,
ol {
  margin: $spacer-S 0;
  padding-left: $spacer-L;

  &:first-child {
    margin-top: 0;
  }
}

ul {
  list-style: disc;

  ul {
    margin-bottom: 0;
  }
}

ol {
  list-style: decimal;

  ol {
    margin-bottom: 0;
  }
}

dl {
  margin-bottom: $spacer-S;

  dt {
    margin-top: $spacer-S;
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}
