/** ======================================
 * Base : Link
 * ======================================= */

a {
  text-decoration: none;
  color: $base-link-color;
  transition: color 0.3s ease-in-out;
  &:active,
  &:hover,
  &:focus {
    color: $base-link-color-hover;
  }
}
