/** ======================================
 * Base : Link
 * ======================================= */

a {
  text-decoration: none;
  color: $clr-1;
  transition: color .3s ease-in-out;

  &:active,
  &:hover,
  &:focus {
    color: $clr-1-dark;
  }
}
