/** ======================================
 * Base : Table
 * ======================================= */

table {
  margin: 0;
  max-width: 100%;
  border-collapse: collapse;
}

tr,
td,
th {
  vertical-align: middle;
}

th {
  text-align: left;
}
