/** ======================================
 * Base : Form
 * ======================================= */

input, select, textarea {
  display: block;
}

label {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;

  abbr {
    display: none;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"], [type="radio"] {
  display: inline;
  margin-right: $spacer-S / 2;
}

[type="file"] {
  width: 100%;
  margin-bottom: $spacer-S;
  padding-bottom: ($spacer-S / 3);
}

[type="search"] {
  box-sizing: border-box;
}

select {
  width: auto;
  max-width: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

::placeholder {
  color: tint($clr-0, 60%);
}
