/** ======================================
 * Base : Typography
 * ======================================= */

// scss-lint:disable QualifyingElement

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $spacer-S 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p {
  margin: $spacer-S 0;

  &:first-child {
    margin-top: 0;
  }
}

small {
  font-size: inherit;
}

abbr[title] {
  text-transform: lowercase;
}

abbr,
acronym {
  cursor: help;
}
