include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head

  body(class= template)

    include ../partials/header
    main
      section
        block content
    include ../partials/footer

    script(src= path + "assets/app.js", async)
