include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head

  body(class= template)
    //- Uncomment for active SVG Sprite
      .u-visuallyHidden
        include ../../assets/icons/symbol/icons.svg
    .l-app
      .l-app-head
        include ../partials/header
      main.app-body
        section
          block content
      .l-app-footer
        include ../partials/footer

    script(src= path + "assets/app.js", async)
