include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head
    link(rel='stylesheet', href= path + 'assets/styleguide.css')

  body
    .hf-styleguide
      header
          .hf-styleguide-title Styleguide
          a.hf-styleguide-linkBack(href="../") Retour sommaire
          nav
            p Atomes
            a(href="./button.html") Button
            a(href="./content.html") Content
            a(href="./input.html") Input
            a(href="./wrapper.html") Wrapper
            p Molecules
            a(href="./form.html") Form
            a(href="./grid.html") Grille
            p Utils
            a(href="./u-spacing.html") Espacement
            a(href="./u-layout.html") Layout
            a(href="./u-width.html") Taille
            a(href="./u-show-hide.html") Show - hide
            a(href="./u-text.html") Text
            a(href="./u-text-color.html") Text-color
      main
        section
          block content

      script(src= path + "assets/app.js", async)
