include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head
    link(rel='stylesheet', href= path + 'assets/styleguide.css')

  body
    .hf-styleguide
      header
          .hf-styleguide-title Styleguide
          a.hf-styleguide-linkBack(href="../") Retour sommaire
          nav
            p Atoms
            a(href="./a-button.html") Button
            a(href="./a-input.html") Input
            p Molecules
            a(href="./m-form.html") Form
            p Organisms
            a(href="./o-content.html") Content
            p Layout
            a(href="./l-grid.html") Grid
            a(href="./l-wrapper.html") Wrapper
            p Utils
            a(href="./u-layout.html") Layout
            a(href="./u-show-hide.html") Show - hide
            a(href="./u-spacing.html") Spacing
            a(href="./u-text.html") Text
            a(href="./u-text-color.html") Text color
            a(href="./u-width.html") Width
      main
        section
          block content

      script(src= path + "assets/app.js", async)
