/** ======================================
* Layout : app
* ======================================= */

.l-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.l-app__head,
.l-app__footer {
  flex-shrink: 0;
}

.l-app__body {
  flex: 1 1 auto;
}
