/** ======================================
 * Layout : Wrapper
 * ======================================= */

.l-wrapper {
  padding-right: $gutter-width;
  padding-left: $gutter-width;

  @media #{$mobileUp} {
    max-width: $wrap-M-max-width;
    margin-right: auto;
    margin-left: auto;
  }
}

/**
 * Modifier : Size
 * --------------------------------------- */

.l-wrapper--S {
  @media #{$mobileUp} {
    max-width: $wrap-S-max-width;
  }
}
