header#header(role="banner")
  a(href="./").header-logo
    img(src="assets/img/logo.svg", alt="Hello Front", width="200", height="80")

  #app-pusher
    nav.menu.menu--vertical

      .menu-title Base
      +menu([
        { 'title':'Typography', 'link': './typography.html' },
        { 'title':'Color', 'link': './color.html'}
      ])

      .menu-title Components
      +menu([
        { 'title':'Buttons', 'link': './buttons.html' }
      ])
