footer.footer.footer--txtCenter#footer(role="contentinfo")
  .wrapper
    small &copy;&nbsp;2016&nbsp;-&nbsp;HelloFront Framework
    |  by <a href="http://sutterlity.fr/" target="_blank">Laurent Sutterlity</a>
