footer.footer#footer(role="contentinfo")

  .wrapper
    .footer-inner
      small &copy;&nbsp;2016&nbsp;-&nbsp;HelloFront Framework
    .footer-innerPush
      | By <a href="http://sutterlity.fr/" target="_blank">Laurent Sutterlity</a>
