.header(role="banner")

  .wrapper

    h1.header-logo
      a.header-logo-link(href="./") Hello Front

    .menu
      +menu([
        { 'title':'Styleguide', 'link': 'styleguide' },
        { 'title':'Repo Github', 'link': 'https://github.com/sutter/helloFront' }
      ])
