header#header(role="banner")

  .wrapper

    h1.header-logo
      a.header-logo-link(href="./") Hello Front

    #header-nav.menu
      +menu([
        { 'title':'Typographie', 'link': 'typographie.html' },
        { 'title':'Formulaire', 'link': 'formulaire.html' },
        { 'title':'Boutons', 'link': 'bouton.html' },
        { 'title':'Tableau', 'link': 'tableau.html' },
        { 'title':'Grilles', 'link': 'grille.html' },
        { 'title':'Images', 'link': 'image.html' }
      ])
